.page-body-wrapper {
    min-height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;

    &.full-page-wrapper {
        width: 100%;
        min-height: 100vh;
    }
}

.main-panel {
    transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;
    width: calc(100% - #{$sidebar-width-lg});
    min-height: calc(100vh - #{$navbar-height});

    @media (max-width: 991px) {
        margin-left: 0;
        width: 100%;
    }
}

.content-wrapper {
    background: $content-bg;
    padding: $content-wrapper-padding-y $content-wrapper-padding-x;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .content-header {
        padding: 5px 0 25px 0;

        .content-header-actions {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-left: 1px solid $border-color;

            @media (max-width: 991px) {
                border-left: none;
            }
        }
    }
}

.container-scroller {
    overflow: hidden;
}

.list-group-item {
    padding: 24px 1.25rem;
}

.text-muted {
    color: #8798ad !important;
}

.icon-wrapper {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    z-index: 1;

    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 30px;
        height: 25px;
        z-index: -1;
        border-radius: 8px;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    &.icon-wrapper-primary {
        background-image: linear-gradient(to right, #1579ff, #0442dc);

        &:after {
            content: "";
            background-image: linear-gradient(to left, #54a5f6, #1088ee);
        }
    }

    &.icon-wrapper-success {
        background-image: linear-gradient(to left, #b4ec51, #429321);

        &:after {
            content: "";
            background-image: linear-gradient(to left, #b4ec51, #429321);
        }
    }

    &.icon-wrapper-info {
        background-image: linear-gradient(to left, #6d01ff, #c86dd7);

        &:after {
            content: "";
            background-color: #d8bcff;
        }
    }

    &.icon-wrapper-warning {
        background-image: linear-gradient(to bottom, #fad961, #f76b1c);

        &:after {
            content: "";
            background-color: #fed37a;
        }
    }

    &.icon-wrapper-danger {
        background-image: linear-gradient(to left, #d41459, #911a6c);

        &:after {
            content: "";
            background-image: linear-gradient(to bottom, #d41459, #911a6c);
        }
    }
}

.card-carousel {
    &.full-width {
        .owl-nav {

            .owl-prev,
            .owl-next {
                text-align: center;
                margin: 0 10px;

                i {
                    &:before {
                        background: transparent;
                    }
                }
            }
        }
    }
}