.table {
    tr {

        td,
        th {
            padding: 13px 15px;
        }

        td {
            font-size: 13px;
            font-weight: 500;
            color: #212529;
        }
    }
}