$border-color-light: #f0f5f8;
$sidemenu-width: 270px;
$content-aside-right-width: 265px;
$text-muted: #d4d4d4;
$primary-color: #ca005b;
$nav-brand-wrapper-sm: 150px;
$gradient-bg: linear-gradient(112deg, #2dc9eb, #14d2b8);