<!DOCTYPE html>
<html style="font-size: 16px;">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/frontend/assets/css/Cyber-Attack-Types.css" media="screen">
<body class="u-body u-overlap">
<%- include('../partials/header') %>

<section class="u-clearfix u-section-1" id="sec-3bb2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h1 class="u-text u-text-1">Most Common<br>Cyber Attacks
                            </h1>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout">
                  <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                     xlink:href="#svg-e802"></use></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                         viewBox="0 0 512 512" id="svg-e802"><g><g><path d="m497 512h-482c-8.284 0-15-6.716-15-15v-50.5c0-8.284 6.716-15 15-15h482c8.284 0 15 6.716 15 15v50.5c0 8.284-6.716 15-15 15z" fill="#464b52"></path>
</g><path d="m497 431.5h-241v80.5h241c8.284 0 15-6.716 15-15v-50.5c0-8.284-6.716-15-15-15z" fill="#292b2f"></path><g><path d="m0 446.5v-11.86c0-19.381 4.326-37.978 12.857-55.275 2.527-5.122 7.742-8.365 13.453-8.365h459.38c5.711 0 10.926 3.243 13.453 8.364 8.531 17.298 12.857 35.895 12.857 55.276v11.86z" fill="#f3f5fc"></path>
</g><path d="m485.69 371h-229.69v75.5h256v-11.86c0-19.381-4.326-37.978-12.857-55.275-2.527-5.122-7.742-8.365-13.453-8.365z" fill="#dce0ea"></path><path
                                    d="m499.145 379.369c-18.536-37.611-54.401-63.31-95.939-68.742-.645-.085-86.745-.127-86.745-.127-8.284 0-15 6.716-15 15v11.91c0 31.971-37.869 33.59-45.46 33.59s-45.46-1.619-45.46-33.59v-11.91c0-8.284-6.716-15-15-15 0 0-86.1.042-86.745.127-41.538 5.433-77.403 31.131-95.939 68.742z"
                                    fill="#464b52"></path><path
                                    d="m316.46 310.5c-8.284 0-15 6.716-15 15v11.91c0 31.97-37.868 33.59-45.46 33.59v8.369h243.144c-18.536-37.611-54.401-63.31-95.939-68.742-.645-.085-86.745-.127-86.745-.127z"
                                    fill="#292b2f"></path><g><path d="m256 393c-19.73 0-37.911-5.354-51.193-15.074-15.648-11.452-24.267-28.682-24.267-48.516v-49.27c0-8.284 6.716-15 15-15h120.92c8.284 0 15 6.716 15 15v49.271c0 19.834-8.616 37.063-24.262 48.516-13.281 9.719-31.464 15.073-51.198 15.073z" fill="#f6ddce"></path>
</g><path d="m316.46 265.14h-60.46v127.86c19.734 0 37.916-5.354 51.198-15.074 15.646-11.452 24.262-28.682 24.262-48.516v-49.27c0-8.285-6.716-15-15-15z"
          fill="#f2ccbd"></path><path
                                    d="m383.688 119.854h-26.954c-8.284 0-15 6.716-15 15v64.246c0 8.284 6.716 15 15 15h26.954c25.973 0 47.103-21.14 47.103-47.123s-21.13-47.123-47.103-47.123z"
                                    fill="#f2ccbd"></path><path
                                    d="m155.266 119.854h-26.954c-25.973 0-47.104 21.139-47.104 47.122s21.13 47.123 47.104 47.123h26.954c8.284 0 15-6.716 15-15v-64.245c0-8.284-6.716-15-15-15z"
                                    fill="#f6ddce"></path><g><path d="m255.998 335.223c-19.099 0-38.197-6.371-53.777-19.112-22.158-18.12-37.024-34.859-46.785-52.679-10.472-19.117-15.291-39.583-15.167-64.407l-.002-83.229c0-63.851 51.918-115.796 115.733-115.796 63.815 0 115.733 51.945 115.733 115.795l-.005 83.306c.124 24.748-4.695 45.214-15.167 64.331-9.761 17.819-24.627 34.559-46.785 52.679-15.58 12.741-34.679 19.112-53.778 19.112z" fill="#faede5"></path>
</g><path d="m256 0v335.223c19.098 0 38.196-6.372 53.776-19.112 22.158-18.12 37.024-34.859 46.785-52.679 10.472-19.117 15.291-39.583 15.167-64.331l.005-83.306c.001-63.85-51.917-115.795-115.733-115.795z"
          fill="#f6ddce"></path><path
                                    d="m140.267 115.795.002 83.229c-.026 5.211.18 10.22.596 15.075h91.956c3.98 0 7.797-1.582 10.61-4.397l12.569-12.577 12.57 12.578c2.813 2.815 6.63 4.396 10.609 4.396h91.956c.414-4.833.618-9.817.592-14.999l.005-83.306c0-9.313-1.112-18.37-3.197-27.052h-225.072c-2.084 8.683-3.196 17.74-3.196 27.053z"
                                    fill="#464b52"></path><path
                                    d="m256 88.743v108.382l12.57 12.578c2.813 2.815 6.63 4.396 10.609 4.396h91.956c.414-4.833.618-9.817.592-14.999l.005-83.306c0-9.313-1.112-18.37-3.197-27.052h-112.535z"
                                    fill="#292b2f"></path><g><path d="m209.334 166.422h-15.053c-8.284 0-15-6.716-15-15s6.716-15 15-15h15.053c8.284 0 15 6.716 15 15s-6.715 15-15 15z" fill="#faede5"></path>
</g><g><path d="m316.464 166.422h-15.053c-8.284 0-15-6.716-15-15s6.716-15 15-15h15.053c8.284 0 15 6.716 15 15s-6.715 15-15 15z" fill="#f6ddce"></path>
</g>
</g></svg>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-image u-section-2" id="carousel_e80e">
    <div class="u-clearfix u-image u-sheet u-image-1">
        <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 192 192" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                           xlink:href="#svg-ea97"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
               viewBox="0 0 192 192" id="svg-ea97"><path d="m178.3 24.337-80-24a8 8 0 0 0 -4.6 0l-80 24a8 8 0 0 0 -5.7 7.663v88a8 8 0 0 0 .9 3.694c11.949 22.95 75.673 62.664 82.9 67.117a8 8 0 0 0 8.394 0c7.226-4.453 70.95-44.167 82.9-67.117a8 8 0 0 0 .906-3.694v-88a8 8 0 0 0 -5.7-7.663z" fill="#67d9fb"></path><path
                      d="m96 174.579c-30.8-19.334-63.714-43.841-72-56.727v-79.9l72-21.6 72 21.6v79.9c-8.291 12.889-41.2 37.393-72 56.727z" fill="#e6f9fe"></path><path
                      d="m40 110.852v-77.7l-16 4.8v79.9c8.286 12.886 41.2 37.393 72 56.727 4.447-2.791 8.936-5.692 13.39-8.648-30.028-19.06-61.337-42.556-69.39-55.079z"
                      fill="#ccf2fe"></path><g fill="#01c0f9"><path d="m137 80h-16v-16h11.056l5.789-11.578 14.31 7.156-8 16a8 8 0 0 1 -7.155 4.422z"></path><path
                          d="m73 80h-16a8 8 0 0 1 -7.155-4.422l-8-16 14.31-7.156 5.789 11.578h11.056z"></path><path
                          d="m137.845 139.578-5.789-11.578h-11.056v-16h16a8 8 0 0 1 7.155 4.422l8 16z"></path><path
                          d="m56.155 139.578-14.31-7.156 8-16a8 8 0 0 1 7.155-4.422h16v16h-11.056z"></path><path d="m129 88h24v16h-24z"></path><path d="m41 88h24v16h-24z"></path>
</g><ellipse cx="97" cy="96" fill="#99e6fd" rx="40" ry="48"></ellipse><path
                      d="m73 92c0-19.659 9.9-36.586 24.035-44h-.035c-22.056 0-40 21.533-40 48s17.944 48 40 48a34.2 34.2 0 0 0 15.965-4c-22.04-.024-39.965-21.547-39.965-48z"
                      fill="#67d9fb"></path><path d="m121 48a24 24 0 1 0 -46.624 8h45.248a23.885 23.885 0 0 0 1.376-8z" fill="#34cdfa"></path></svg>
        </span>
        <div class="u-align-left u-black u-container-style u-group u-opacity u-opacity-0 u-group-1">
            <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
                <h3 class="u-text u-text-body-alt-color u-text-1">Malware</h3>
                <ul class="u-text u-text-body-alt-color u-text-2">
                    <li>Blocks access to main network components (ransomware)&nbsp;</li>
                    <li>Install malware or additional malware <br>
                        <br>
                    </li>
                    <li>Receives information secretly by transmitting data from hard drive (spyware) <br>
                        <br>
                    </li>
                    <li>Makes the system unusable.</li>
                </ul>
                <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="carousel_851e">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30">
                        <div class="u-layout-col">
                            <div class="u-align-center-sm u-align-left-lg u-align-left-md u-align-left-xl u-align-left-xs u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                                <div class="u-container-layout">
                                    <div class="u-container-style u-grey-10 u-group u-group-1">
                                        <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                                            <h2 class="u-text u-text-1">Phishing</h2>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-group u-group-2">
                                        <div class="u-container-layout u-valign-middle-sm u-container-layout-3">
                                            <p class="u-text u-text-2">Phishing scams send spam messages from a trusted source, usually an email. by email. The goal is to
                                                steal sensitive information, such as credit card and information, to access malware or install it on the victim's
                                                computer. Fraud is a common cyber attack.<br>
                                            </p>
                                            <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET
                                                A QUOTE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                                <div class="u-container-layout">
                      <span class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                         xlink:href="#svg-687e"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                             viewBox="0 0 512 512" x="0px" y="0px" id="svg-687e" style="enable-background:new 0 0 512 512;"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="258" x2="512" y2="258" gradientTransform="matrix(1 0 0 -1 0 514)"><stop offset="0" style="stop-color:#00F2FE"></stop><stop
                                        offset="0.021" style="stop-color:#03EFFE"></stop><stop offset="0.293" style="stop-color:#24D2FE"></stop><stop offset="0.554"
                                                                                                                                                      style="stop-color:#3CBDFE"></stop><stop
                                        offset="0.796" style="stop-color:#4AB0FE"></stop><stop offset="1" style="stop-color:#4FACFE"></stop>
</linearGradient><path style="fill:url(#SVGID_1_);"
                       d="M452,40H212.56C204.303,16.722,182.073,0,156,0s-48.303,16.722-56.56,40H60  C26.916,40,0,66.916,0,100v332c0,44.112,35.888,80,80,80h352c44.112,0,80-35.888,80-80c0-11.046-8.954-20-20-20s-20,8.954-20,20  c0,22.056-17.944,40-40,40H80c-22.056,0-40-17.944-40-40V161h28c11.046,0,20-8.954,20-20s-8.954-20-20-20H40v-21  c0-11.028,8.972-20,20-20h40.038c3.191,9.082,8.816,21.346,18.663,38.32c6.717,11.579,13.374,21.873,17.3,27.789V331.5  c0,57.07,46.43,103.5,103.5,103.5S343,388.57,343,331.5c0-32.321-17.637-67.388-48.387-96.209  c-5.816-5.451-14.313-6.926-21.629-3.759c-7.314,3.17-11.984,10.38-11.984,18.352V303c0,11.046,8.891,20,19.937,20  c8.242,0,15.319-4.985,18.381-12.104c2.421,7.044,3.683,13.977,3.683,20.604c0,35.014-28.486,63.5-63.5,63.5S176,366.514,176,331.5  V146.219c3.958-5.845,10.577-15.901,17.255-27.295C203.326,101.742,208.993,89.27,212.154,80H314.44c-2.22,6.26-3.44,12.989-3.44,20  c0,7.386,1.349,14.46,3.801,21H243c-11.046,0-20,8.954-20,20s8.954,20,20,20h229v171c0,11.046,8.954,20,20,20s20-8.954,20-20V100  C512,66.916,485.084,40,452,40z M451,80c11.028,0,20,8.972,20,20s-8.972,20-20,20s-20-8.972-20-20S439.972,80,451,80z   M158.881,98.467c-0.914,1.563-1.83,3.103-2.739,4.608c-0.869-1.456-1.747-2.943-2.624-4.451C136.435,69.246,136.01,60.342,136,60  c0-11.028,8.972-20,20-20s20,8.972,20,20C176,60.376,175.806,69.543,158.881,98.467z M391,100c0,11.028-8.972,20-20,20  s-20-8.972-20-20s8.972-20,20-20S391,88.972,391,100z"></path></svg>
                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-image u-section-4" id="carousel_c095">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-35 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 64 64" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                 xlink:href="#svg-42ff"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                       viewBox="0 0 64 64" id="svg-42ff"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="32" x2="32" y1="63" y2="1"><stop offset="0" stop-color="#9f2fff"></stop><stop
                                  offset="1" stop-color="#0bb1d3"></stop>
</linearGradient><path d="m6 53h12.82l-.667 4h-1.153c-1.654 0-3 1.346-3 3v3h36v-3c0-1.654-1.346-3-3-3h-1.153l-.667-4h12.82c2.757 0 5-2.243 5-5v-28c0-2.757-2.243-5-5-5h-12.514c-.934-3.914-3.118-7.445-6.307-10.055l-2.997-2.453c-1.177-.962-2.661-1.492-4.182-1.492s-3.005.53-4.181 1.493l-2.998 2.453c-3.19 2.61-5.373 6.141-6.307 10.055h-12.514c-2.757 0-5 2.243-5 5v28c0 2.756 2.243 4.999 5 4.999zm42 7v1h-32v-1c0-.551.448-1 1-1h30c.552 0 1 .449 1 1zm-4.18-3h-23.64l.667-4h22.306zm14.18-6h-52c-1.654 0-3-1.346-3-3v-1h58v1c0 1.654-1.346 3-3 3zm-21.688-17.657-1.162.74c-.657.418-1.393.68-2.15.807v-1.991c2.279-.465 4-2.484 4-4.899v-2.353c2.568-1.491 4.409-4.089 4.874-7.138 1.022.773 1.739 1.471 2.094 1.845-.319 5.306-3.129 10.108-7.656 12.989zm-3.312 4.657c0 .551-.448 1-1 1s-1-.449-1-1 .448-1 1-1 1 .449 1 1zm-4-11.461c.948.298 1.955.461 3 .461s2.052-.163 3-.461v1.461c0 1.654-1.346 3-3 3s-3-1.346-3-3zm3-1.539c-4.327 0-7.855-3.456-7.987-7.752 2.052-1.195 4.77-2.248 7.987-2.248s5.935 1.053 7.987 2.248c-.132 4.296-3.66 7.752-7.987 7.752zm-9.874-6.492c.465 3.05 2.305 5.647 4.874 7.138v2.354c0 2.414 1.721 4.434 4 4.899v1.991c-.758-.127-1.494-.39-2.15-.807l-1.162-.74c-4.527-2.881-7.337-7.683-7.656-12.99.355-.374 1.073-1.071 2.094-1.845zm4.487 16.522 1.162.74c.51.324 1.058.569 1.621.768-.244.434-.396.928-.396 1.462 0 1.654 1.346 3 3 3s3-1.346 3-3c0-.534-.152-1.028-.397-1.462.563-.198 1.111-.443 1.621-.768l1.162-.74c2.037-1.297 3.763-2.941 5.124-4.83 4.983 3.323 8.136 8.841 8.456 14.799h-5.966v-3h-2v3h-22v-3h-2v3h-5.966c.32-5.958 3.473-11.476 8.456-14.799 1.36 1.889 3.086 3.534 5.123 4.83zm31.387-18.03c1.654 0 3 1.346 3 3v25h-8.034c-.322-6.639-3.826-12.795-9.381-16.485 1.559-2.748 2.415-5.891 2.415-9.176 0-.789-.055-1.569-.151-2.339zm-31.913-10.507 2.998-2.453h.001c.819-.67 1.854-1.04 2.914-1.04s2.095.37 2.915 1.041l2.998 2.453c3.402 2.784 5.525 6.742 5.988 11.055-2.232-1.883-6.361-4.549-11.901-4.549s-9.669 2.666-11.901 4.548c.463-4.313 2.586-8.271 5.988-11.055zm-20.087 10.507h12.151c-.096.771-.151 1.551-.151 2.339 0 3.285.856 6.428 2.414 9.176-5.554 3.69-9.058 9.845-9.381 16.485h-8.033v-25c0-1.654 1.346-3 3-3zm44 4h-2v-2h2zm4 0h-2v-2h2zm4 0h-2v-2h2zm-50 0h-2v-2h2zm4 0h-2v-2h2zm4 0h-2v-2h2z"
                       fill="url(#SVGID_1_)"></path></svg>
                </span>
                    </div>
                </div>
                <div class="u-container-style u-grey-70 u-layout-cell u-right-cell u-size-25 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="u-container-style u-group u-group-1">
                            <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs">
                                <h2 class="u-text u-text-1">Man-in-the-middle attack</h2>
                                <p class="u-custom-font u-heading-font u-text u-text-2">Man-in-the-middle (MitM) attacks, also known as eavesdropping attacks, occur when
                                    attackers insert themselves into a two-party transaction. Once the attackers interrupt the traffic, they can filter and steal data.Two
                                    common points of entry for MitM attacks:1. On unsecure public Wi-Fi, attackers can insert themselves between a visitor’s device and
                                    the network. Without knowing, the visitor passes all information through the attacker.2. Once malware has breached a device, an
                                    attacker can install software to process all of the victim’s information.</p>
                                <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-5" id="carousel_0901">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-1">
                        <div class="u-align-left u-black u-container-style u-group u-opacity u-opacity-0 u-group-1">
                            <div class="u-container-layout u-container-layout-2">
                                <h3 class="u-text u-text-grey-50 u-text-1">Denial-of-service attack</h3>
                                <p class="u-custom-font u-heading-font u-text u-text-grey-50 u-text-2">Services, services, or service rejection streaming networks and
                                    networks use both resources and bandwidth. As a result, the system is unable to meet the necessary demands. Attackers can also use
                                    large adaptive devices to launch this attack. This is called Distributed Denial of Service (DDoS) attacks.</p>
                                <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
                    <div class="u-container-layout">
                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 368 368" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                   xlink:href="#svg-8739"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                       viewBox="0 0 368 368" x="0px" y="0px" id="svg-8739" style="enable-background:new 0 0 368 368;"><g><path style="fill:#CCE4FF;" d="M282.56,130.72c8.56,15.84,13.44,34,13.44,53.28c0,61.84-50.16,112-112,112   c-19.28,0-37.44-4.88-53.28-13.44L282.56,130.72z"></path><path
                                  style="fill:#CCE4FF;"
                                  d="M237.28,85.44L85.44,237.28C76.88,221.44,72,203.28,72,184c0-61.84,50.16-112,112-112   C203.28,72,221.44,76.88,237.28,85.44z"></path>
</g><g><path style="fill:#007AFF;" d="M184,0C82.544,0,0,82.536,0,184s82.544,184,184,184c101.464,0,184-82.536,184-184S285.464,0,184,0z    M184,352c-92.64,0-168-75.368-168-168S91.36,16,184,16c92.632,0,168,75.368,168,168S276.632,352,184,352z"></path><path
                                  style="fill:#007AFF;"
                                  d="M245.192,84.28c-0.368-2.504-1.888-4.68-4.112-5.88C223.64,68.976,203.896,64,184,64   c-66.168,0-120,53.832-120,120c0,19.904,4.984,39.648,14.4,57.088c1.2,2.216,3.384,3.752,5.88,4.112   c0.384,0.056,0.776,0.088,1.16,0.088c2.104,0,4.144-0.832,5.656-2.344l151.84-151.84C244.728,89.304,245.56,86.784,245.192,84.28z    M87.808,223.6C82.672,211.104,80,197.6,80,184c0-57.344,46.656-104,104-104c13.592,0,27.096,2.68,39.6,7.808L87.808,223.6z"></path><path
                                  style="fill:#007AFF;"
                                  d="M283.72,122.808c-2.472-0.352-5.032,0.48-6.816,2.256l-151.84,151.84   c-1.792,1.792-2.624,4.312-2.256,6.816c0.36,2.504,1.888,4.68,4.112,5.88c17.44,9.424,37.176,14.4,57.08,14.4   c66.168,0,120-53.832,120-120c0-19.896-4.976-39.64-14.4-57.088C288.4,124.696,286.216,123.168,283.72,122.808z M184,288   c-13.592,0-27.096-2.68-39.6-7.808L280.192,144.4C285.32,156.904,288,170.408,288,184C288,241.344,241.344,288,184,288z"></path>
</g></svg>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-black u-clearfix u-section-6" id="sec-524a">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                           xlink:href="#svg-7b87"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
               viewBox="0 0 512 512" id="svg-7b87"><defs><linearGradient id="linear-gradient" x1="256" y1="496" x2="256" y2="16" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#12c2e9"></stop><stop
                              offset="0.5" stop-color="#c471ed"></stop><stop offset="1" stop-color="#f64f59"></stop>
</linearGradient>
</defs><path d="M349.657,18.343A8,8,0,0,0,344,16H120A56.064,56.064,0,0,0,64,72V440a56.064,56.064,0,0,0,56,56H392a56.063,56.063,0,0,0,56-56V120a8,8,0,0,0-2.343-5.657ZM352,43.313,420.687,112H392a40.045,40.045,0,0,1-40-40ZM120,32H336V72a56.063,56.063,0,0,0,56,56h40V352H80V72A40.045,40.045,0,0,1,120,32ZM392,480H120a40.045,40.045,0,0,1-40-40V368H432v72A40.045,40.045,0,0,1,392,480ZM176,408a8.009,8.009,0,0,0,8,8,24,24,0,0,1,0,48H168a8,8,0,0,1,0-16h16a8,8,0,0,0,0-16,24,24,0,0,1,0-48h16a8,8,0,0,1,0,16H184A8.009,8.009,0,0,0,176,408Zm176,48a8,8,0,0,1-8,8H312a8,8,0,0,1-8-8V392a8,8,0,0,1,16,0v56h24A8,8,0,0,1,352,456Zm-69.786-9.1A46.906,46.906,0,0,0,288,424c0-22.056-14.355-40-32-40s-32,17.944-32,40,14.355,40,32,40a27.027,27.027,0,0,0,15.6-5.09l2.747,2.747a8,8,0,0,0,11.314-11.314ZM256,448c-8.673,0-16-10.991-16-24s7.327-24,16-24,16,10.991,16,24a33.122,33.122,0,0,1-1.807,10.879l-8.536-8.536a8,8,0,0,0-11.314,11.314l9.58,9.58A10.644,10.644,0,0,1,256,448ZM203.353,299.123C217.505,302.268,236.2,304,256,304s38.5-1.732,52.647-4.877C320.39,296.514,336,291.692,336,280V136c0-11.692-15.61-16.514-27.353-19.123C294.5,113.732,275.8,112,256,112s-38.5,1.732-52.647,4.877C191.611,119.486,176,124.308,176,136V280C176,291.692,191.611,296.514,203.353,299.123ZM256,288c-36.744,0-59.127-6.054-64-9.622V247.955a95.079,95.079,0,0,0,11.353,3.168C217.505,254.268,236.2,256,256,256s38.5-1.732,52.647-4.877A95.079,95.079,0,0,0,320,247.955v30.423C315.127,281.946,292.743,288,256,288Zm-64-88.045a95.079,95.079,0,0,0,11.353,3.168C217.505,206.268,236.2,208,256,208s38.5-1.732,52.647-4.877A95.079,95.079,0,0,0,320,199.955v30.416c-4.847,3.566-27.226,9.629-64,9.629s-59.153-6.063-64-9.629Zm0-48a95.079,95.079,0,0,0,11.353,3.168C217.505,158.268,236.2,160,256,160s38.5-1.732,52.647-4.877A95.079,95.079,0,0,0,320,151.955v30.416c-4.847,3.566-27.226,9.629-64,9.629s-59.153-6.063-64-9.629ZM256,128c31.6,0,52.575,4.478,60.932,8-8.357,3.522-29.335,8-60.932,8s-52.576-4.478-60.931-8C203.424,132.478,224.4,128,256,128Z"
             style="fill:url(#linear-gradient)"></path></svg>
        </span>
        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-lg u-container-layout-1">
                <h2 class="u-align-center-xl u-align-center-xs u-text u-text-1">SQL injection</h2>
                <p class="u-align-center-xl u-align-center-xs u-custom-font u-heading-font u-text u-text-2">An injection of structured query language (SQL) occurs when an
                    attacker inserts malicious code into a server that uses SQL and forces the server to reveal information that it would not normally do. An attacker
                    could perform an SQL injection simply by sending malicious code into a search field of a vulnerable website.</p>
                <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-valign-middle-xs u-valign-top-lg u-white u-section-7" id="sec-5bfb">
    <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-text u-text-1">DNS Tunneling</h2>
            <p class="u-align-center u-custom-font u-heading-font u-text u-text-2">The DNS tunnel uses the DNS protocol to communicate with non-DNS traffic on port 53.
                Sends HTTP traffic and other protocols through DNS. There are several valid reasons for using a DNS tunnel. However, there are negative reasons for using
                VPN services in DNS tunnels. They can be used to mask outgoing traffic, such as DNS, typically masking information shared on the Internet. For malicious
                use, DNS browsers handle data leaks from a system that has been compromised by an attacker's infrastructure. It can also be used to direct and manage
                calls from an attacker's infrastructure to a compromised system.</p>
            <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
        </div>
    </div>
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout">
                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 64 64" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                 xlink:href="#svg-4eca"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                       viewBox="0 0 64 64" id="svg-4eca"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="32" x2="32" y1="63" y2="1"><stop offset="0" stop-color="#9f2fff"></stop><stop
                                  offset="1" stop-color="#0bb1d3"></stop>
</linearGradient><path d="m34 5h-3v10h3c2.757 0 5-2.243 5-5s-2.243-5-5-5zm0 8h-1v-6h1c1.654 0 3 1.346 3 3s-1.346 3-3 3zm19-5c0 .551.448 1 1 1h2c1.654 0 3 1.346 3 3s-1.346 3-3 3h-2c-1.654 0-3-1.346-3-3h2c0 .551.448 1 1 1h2c.552 0 1-.449 1-1s-.448-1-1-1h-2c-1.654 0-3-1.346-3-3s1.346-3 3-3h2c1.654 0 3 1.346 3 3h-2c0-.551-.448-1-1-1h-2c-.552 0-1 .449-1 1zm-6-3h2v10h-2.618l-3.382-6.764v6.764h-2v-10h2.618l3.382 6.764zm13-4h-30c-1.654 0-3 1.346-3 3v5h-2.731l-.766 2.405c-3.465.632-6.798 2.015-9.709 4.027l-2.248-1.163-5.275 5.276 1.162 2.248c-2.013 2.911-3.396 6.245-4.026 9.709l-2.407.767v7.463l2.406.765c.631 3.465 2.014 6.798 4.026 9.709l-1.162 2.248 5.275 5.276 2.248-1.163c2.911 2.013 6.244 3.395 9.709 4.027l.767 2.406h7.463l.766-2.405c3.465-.632 6.798-2.015 9.709-4.027l2.248 1.163 5.275-5.276-1.162-2.248c2.013-2.911 3.396-6.245 4.026-9.709l2.406-.767v-7.463l-2.406-.765c-.631-3.465-2.014-6.798-4.026-9.709l1.162-2.248-.547-.546h10.817c1.654 0 3-1.346 3-3v-12c0-1.654-1.346-3-3-3zm-27.854 21.631c.246.747.473 1.534.672 2.369h-9.651c1.012-4.28 2.551-7.094 4.084-7.804.464 1.06 1.52 1.804 2.749 1.804h1v1.586c0 .865.461 1.619 1.146 2.045zm5.581-2.943c2.303 1.375 4.252 3.192 5.759 5.313h-8.617c-.17-.755-.356-1.481-.561-2.175.303-.121.583-.299.815-.532zm-26.454 7.312h9.471c-.437 2.542-.686 5.279-.734 8h-10.959c.151-2.88.924-5.597 2.222-8zm1.264-2c2.732-3.829 6.834-6.614 11.597-7.603-1.3 1.803-2.305 4.49-2.998 7.603zm9.481 10c.051-2.949.317-5.645.741-8h10.478c.445 2.454.697 5.17.747 8zm11.964 2c-.051 2.949-.317 5.645-.741 8h-10.483c-.424-2.355-.69-5.051-.741-8zm-13.973 0c.049 2.721.297 5.458.734 8h-9.471c-1.298-2.403-2.071-5.12-2.222-8zm1.127 10c.693 3.113 1.698 5.8 2.998 7.603-4.763-.989-8.865-3.774-11.597-7.603zm2.032 0h9.665c-1.177 4.978-3.067 8-4.832 8s-3.656-3.022-4.833-8zm11.696 0h8.599c-2.732 3.829-6.834 6.614-11.597 7.603 1.3-1.803 2.305-4.49 2.998-7.603zm9.863-2h-9.471c.437-2.542.686-5.279.734-8h10.959c-.151 2.88-.924 5.597-2.222 8zm-8.744-10c-.048-2.813-.294-5.521-.722-8h9.463c1.31 2.435 2.092 5.157 2.242 8zm11.299-15.074-1.055 2.04.364.5c2.145 2.94 3.572 6.385 4.13 9.96l.096.611 2.183.694v4.537l-2.183.694-.096.611c-.558 3.576-1.985 7.02-4.13 9.96l-.364.5 1.055 2.04-3.209 3.208-2.039-1.055-.499.364c-2.941 2.145-6.385 3.573-9.961 4.131l-.611.096-.694 2.183h-4.537l-.694-2.182-.611-.096c-3.576-.558-7.02-1.986-9.961-4.131l-.499-.364-2.039 1.055-3.209-3.208 1.055-2.04-.364-.5c-2.145-2.94-3.572-6.385-4.13-9.96l-.096-.611-2.184-.694v-4.537l2.183-.694.096-.611c.558-3.576 1.985-7.02 4.13-9.96l.364-.5-1.055-2.04 3.209-3.208 2.039 1.055.499-.364c2.941-2.145 6.385-3.573 9.961-4.131l.611-.096.694-2.183h1.269v4.051c-11.113.527-20 9.707-20 20.949 0 11.58 9.421 21 21 21s21-9.42 21-21c0-6.785-3.267-13.078-8.673-17h6.029zm13.718-3.926c0 .551-.448 1-1 1h-22.414l-3.88 3.879c-.235.237-.706.044-.706-.293v-3.586h-3c-.552 0-1-.449-1-1v-12c0-.551.448-1 1-1h30c.552 0 1 .449 1 1zm0 35h-10v-2h10zm-10 2h10v2h-10zm0 4h2v2h-2zm4 2v-2h2v2zm4 0v-2h2v2zm-46-54h-10v-2h10zm0 4h-10v-2h10zm-2 4v-2h2v2zm-4 0v-2h2v2zm-4-2h2v2h-2z"
                       fill="url(#SVGID_1_)"></path></svg>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-8" id="carousel_c368">
    <div class="u-clearfix u-sheet u-sheet-1">
        <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                           xlink:href="#svg-8c90"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
               viewBox="0 0 512 512" id="svg-8c90"><path d="m456 128v264h-400v-264a32 32 0 0 1 32-32h336a31.973 31.973 0 0 1 32 32z" fill="#348fd9"></path><path
                      d="m432 97.01v294.99h-16v-296h8a32 32 0 0 1 8 1.01z" fill="#2d7dbf"></path><path d="m56 336h40v16h-40z" fill="#2d7dbf"></path><path
                      d="m416 336h40v16h-40z" fill="#2d7dbf"></path><path d="m384 24h-256a31.991 31.991 0 0 0 -32 32v320h320v-320a31.991 31.991 0 0 0 -32-32z"
                                                                          fill="#5f9548"></path><path d="m128 376h288v-280-8z" fill="#568741"></path><path
                      d="m96 336h320v40h-320z" fill="#568741"></path><path
                      d="m464 400h-416a24 24 0 0 1 -24-24v-24h178.343a13.658 13.658 0 0 1 9.657 4 13.658 13.658 0 0 0 9.657 4h67.543a13.655 13.655 0 0 0 9.656-4 13.659 13.659 0 0 1 9.657-4h179.487l-.029 22.83a24 24 0 0 1 -23.971 25.17z"
                      fill="#e0e0de"></path><path d="m488 352h-32l-.029 22.83a24 24 0 0 1 -23.971 25.17h32a24 24 0 0 0 23.971-25.17z" fill="#d6d6d4"></path><path
                      d="m481.373 449.373-57.373-57.373-32 32 57.373 57.373a22.627 22.627 0 0 0 32-32z" fill="#ffb531"></path><path
                      d="m433.039 401.039-9.039-9.039-32 32 9.039 9.039a128.6 128.6 0 0 0 32-32z" fill="#f7a116"></path><circle cx="320" cy="320" fill="#ffb531"
                                                                                                                                r="128"></circle><circle cx="320" cy="320"
                                                                                                                                                         fill="#69a340"
                                                                                                                                                         r="96"></circle><circle
                      cx="320" cy="320" fill="#77ad50" r="72"></circle><path d="m280 320h80v48h-80z" fill="#f35244"></path><path
                      d="m360 320h-16v-16a24 24 0 0 0 -44.8-11.992l-13.844-8.016a40 40 0 0 1 74.644 20.008z" fill="#d6d6d4"></path><path d="m304 368h56v-48h-8z"
                                                                                                                                         fill="#ea4a3b"></path><g
                      fill="#7eb457"><path d="m144 184a24.027 24.027 0 0 0 24-24v-16a24 24 0 0 0 -48 0v16a24.027 24.027 0 0 0 24 24zm-8-40a8 8 0 0 1 16 0v16a8 8 0 0 1 -16 0z"></path><path
                          d="m240 120a24.027 24.027 0 0 0 -24 24v16a24 24 0 0 0 48 0v-16a24.027 24.027 0 0 0 -24-24zm8 40a8 8 0 0 1 -16 0v-16a8 8 0 0 1 16 0z"></path><path
                          d="m336 120a24.027 24.027 0 0 0 -24 24v16a24 24 0 0 0 48 0v-16a24.027 24.027 0 0 0 -24-24zm8 40a8 8 0 0 1 -16 0v-16a8 8 0 0 1 16 0z"></path><path
                          d="m184 128h16v48h-16z"></path><path d="m280 128h16v48h-16z"></path><path d="m128 200h16v48h-16z"></path><path d="m160 200h16v48h-16z"></path><path
                          d="m144 264a24.027 24.027 0 0 0 -24 24v16a24 24 0 0 0 48 0v-16a24.027 24.027 0 0 0 -24-24zm8 40a8 8 0 0 1 -16 0v-16a8 8 0 0 1 16 0z"></path><path
                          d="m376 128h16v48h-16z"></path><path d="m120 48h16v16h-16z"></path><path d="m152 48h16v16h-16z"></path><path d="m184 48h16v16h-16z"></path><path
                          d="m120 80h272v16h-272z"></path>
</g></svg>
        </span>
        <div class="u-align-left u-black u-container-style u-expanded-width-xs u-group u-opacity u-opacity-20 u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-1">Zero-day exploit</h2>
                <p class="u-text u-text-2">Zero-day exploitation occurs after a network vulnerability is announced, but before a patch or solution is implemented.
                    Attackers report the vulnerability reported during this time. Detecting vulnerability threats in zero days requires constant monitoring</p>
                <a href="Contact-Us.html" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>
</body>
</html>
