<!DOCTYPE html>
<html style="font-size: 16px;">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/frontend/assets/css/Cyber-Attack-Map.css" media="screen">
<body class="u-body u-overlap">
<%- include('../partials/header') %>

<section class="u-clearfix u-section-1" id="sec-3bb2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-custom-html u-custom-html-1"><!-- Insert this tag where you want the widget to render -->
            <iframe width="900" height="900" src="https://cybermap.kaspersky.com/en/widget/dynamic/dark" frameborder="0"></iframe>
        </div>
        <a href="/free-risk-assessment" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>
</body>
</html>
