<!DOCTYPE html>
<html style="font-size: 16px;">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/frontend/assets/css/HomePage.css" media="screen">
<body class="u-body u-overlap">
<%- include('../partials/header') %>
<section class="skrollable u-clearfix u-image u-lightbox u-section-1" src="" id="carousel_c549">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-31 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-container-style u-expanded-width-md u-group u-palette-2-base u-group-1 custom-codepen-button-red">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <span class="u-border-radius-10 u-icon u-icon-rounded u-palette-2-base u-spacing-12 u-icon-1" data-href="ledgercover.com"
                                          data-animation-name="rollIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3df0"></use>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve"
                                             class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-3df0" style="color: rgb(127, 171, 218);">
                                            <path style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                                  d="M50.003,27 c-0.115-8.699-7.193-16-15.919-16c-5.559,0-10.779,3.005-13.661,7.336C19.157,17.493,17.636,17,16,17c-4.418,0-8,3.582-8,8 c0,0.153,0.014,0.302,0.023,0.454C8.013,25.636,8,25.82,8,26c-3.988,1.912-7,6.457-7,11.155C1,43.67,6.33,49,12.845,49h24.507 c0.138,0,0.272-0.016,0.408-0.021C37.897,48.984,38.031,49,38.169,49h9.803C54.037,49,59,44.037,59,37.972 C59,32.601,55.106,27.961,50.003,27z"></path><path
                                                    style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                                    d="M50.003,27 c0,0-2.535-0.375-5.003,0"></path>
                                            <path style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                                  d="M8,25c0-4.418,3.582-8,8-8 s8,3.582,8,8"></path>
                                        </svg>
                                    </span>
                                    <h2 class="u-text u-text-default u-text-1">LEDGERCOVER</h2>
                                </div>
                            </div>
                            <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-body-alt-color u-title u-text-2">Cyber Insurance for Your Business</h1>
                            <p class="u-text u-text-body-alt-color u-text-3">Build your online presence safely</p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-opacity u-opacity-45 u-right-cell u-size-29 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-3">
                            <a href="/free-risk-assessment" id="header-quote" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">Get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>
</body>
</html>
