<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="LEDGERCOVER, Secure Your Network, LEDGERCOVER, Secure Your Network, Protect your data, Secure Your Network, Secure Your Site, LEDGERCOVER, GradientFill, Gradient Fill, BeCOOL, What We Do, $25, $59, $99, $219, Network Connection, Contact Us!, Technology to Motivate">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Risk Assessment</title>
    <link rel="stylesheet" href="/frontend/assets/css/nicepage.css" media="screen">

    <meta name="generator" content="Nicepage 2.21.3, nicepage.com">

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i">
    <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Site1_copy",
            "url": "index.html",
            "sameAs": [
                "#",
                "#",
                "#"
            ]
        }</script>
    <meta property="og:title" content="HomePage">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:url" content="/">
    <link rel="stylesheet" href="/frontend/assets/css/HomePage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/frontend/css/free-risk-assessment.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script class="u-script" type="text/javascript" src="/frontend/assets/js/nicepage.js" defer=""></script>
    <script src="/frontend/js/free-risk-assessment.js"></script>
    <link rel="stylesheet" href="/backend/css/custom-alert.css">
    <script rel="stylesheet" src="/backend/js/custom-alert.js"></script>
</head>
<body class="u-body u-overlap">
<%- include('../partials/header') %>
<section class="skrollable u-clearfix u-image u-lightbox u-section-1" src="" id="carousel_c549">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <!--   Big container   -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <!-- Wizard container -->
                                <div class="wizard-container">
                                    <div class="card wizard-card" data-color="red" id="wizard">
                                        <form action="" method="">
                                            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

                                            <div class="wizard-header">
                                                <h3 class="wizard-title">
                                                    GET A QUOTE
                                                </h3>
                                                <h5>Risk Assessment Information</h5>
                                            </div>
                                            <div class="wizard-navigation">
                                                <ul>
                                                    <li><a href="#details" data-toggle="tab" onclick="riskTabClick(this)">Account</a></li>
                                                    <li><a href="#captain" data-toggle="tab" onclick="riskTabClick(this)">Size of Company</a></li>
                                                    <li><a href="#description" data-toggle="tab" onclick="riskTabClick(this)">Risk Result</a></li>
                                                    <li><a href="#send-us" data-toggle="tab" onclick="riskTabClick(this)">Submit</a></li>
                                                </ul>
                                            </div>

                                            <div class="tab-content">
                                                <div class="tab-pane" id="details">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h4 class="info-text"> Questionnaire</h4>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">account_circle</i>
                                                                </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Your Name</label>
                                                                    <input name="name" id="risk_name" type="text" class="form-control" required>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">email</i>
                                                                </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Your Email</label>
                                                                    <input type="email" id="risk_email" class="form-control" required>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">lock_outline</i>
                                                                </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Your Password</label>
                                                                    <input name="password" type="password" id="risk_password" class="form-control" required>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Domain</label>
                                                                <input name="domain" type="text" id="risk_domain" class="form-control" required>
                                                            </div>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Company Name</label>
                                                                <input name="industry" type="text" id="risk_industry" class="form-control" required>
                                                            </div>

                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Phone Number</label>
                                                                <input name="phone" type="text" id="risk_phone" class="form-control" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="captain">
                                                    <h4 class="info-text">How many employees would you like to cover? </h4>
                                                    <div class="row">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <div class="col-sm-4">
                                                                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="This is good if you travel alone.">
                                                                    <input type="radio" name="job" id="risk_employee1" value="weekend" required>
                                                                    <div class="icon">
                                                                        <i class="material-icons">weekend</i>
                                                                    </div>
                                                                    <h6>1 - 30</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                                                                     title="Select this room if you're traveling with your family.">
                                                                    <input type="radio" name="job" id="risk_employee2" value="home" required>
                                                                    <div class="icon">
                                                                        <i class="material-icons">home</i>
                                                                    </div>
                                                                    <h6>30 - 50</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                                                                     title="Select this option if you are coming with your team.">
                                                                    <input type="radio" name="job" id="risk_employee3" value="business" required>
                                                                    <div class="icon">
                                                                        <i class="material-icons">business</i>
                                                                    </div>
                                                                    <h6>+50</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="description">
                                                    <div class="row">
                                                        <h4 class="info-text"> Risk Assessment Result</h4>
                                                        <div class="dot-opacity-loader">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        <div class="col-sm-12" style="padding: 0 10%;" id="riskTabContent">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="send-us">
                                                    <div class="row">
                                                        <h4 class="info-text">Letter of Intent</h4>
                                                        <div class="col-sm-12" style="padding: 0 10%;">
                                                            <p class="risk-description">From: <span id="span-risk-name"></span></p>
                                                            <p class="risk-description">From: <span id="span-risk-domain"></span></p>
                                                            <p class="risk-description">Dear LedgerCover Team, </p>
                                                            <p class="risk-description">I would like to protect my assets and be an early customer to the Cyber Insurance product at a
                                                                preferential rate when
                                                                the product is available Fall <%= new Date().getFullYear() %>.</p>
                                                            <p class="risk-description">Thank you</p>
                                                            <p class="risk-description">Please keep me informed by email</p>
                                                            <p class="risk-description">Date: <span><%= new Date().toISOString().substr(0, 10) %></span></p>
                                                            <p class="risk-description">Signature: <span id="span-risk-signature"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wizard-footer">
                                                <div class="pull-right">
                                                    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next'
                                                           onclick="riskNextBtn()"/>
                                                    <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Submit'
                                                           onclick="riskFinishBtn()"/>
                                                </div>
                                                <div class="pull-left">
                                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                                    <div class="footer-checkbox">
                                                        <div class="col-sm-12">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes">
                                                                </label>
                                                                Subscribe to our newsletter
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- wizard container -->
                            </div>
                        </div> <!-- row -->
                    </div> <!--  big container -->
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/foot') %>
<script>
    let activeRiskTabName = '';
    let riskName = '';
    let riskEmail = '';
    let riskPassword = '';
    let riskDomain = '';
    let riskIndustry = '';
    let riskEmployees = 0;
    let riskPhone = '';
    function getRiskInfo() {
        riskName = $('#risk_name').val();
        if (riskName === '') return false;
        riskEmail = $('#risk_email').val();
        if (riskEmail === '') return false;
        riskPassword = $('#risk_password').val();
        if (riskPassword === '') return false;
        riskDomain = $('#risk_domain').val();
        if (riskDomain === '') return false;
        riskIndustry = $('#risk_industry').val();
        if (riskIndustry === '') return false;
        if ($('#risk_employee1').prop('checked')) riskEmployees = 1;
        else if ($('#risk_employee2').prop('checked')) riskEmployees = 2;
        else if ($('#risk_employee3').prop('checked')) riskEmployees = 3;
        else riskEmployees = 0;
        if (riskEmployees === 0) return false;
        riskPhone = $('#risk_phone').val();
        if (riskPhone === '') return false;
        return true;
    }
    function riskTabClick(evt) {
        let clickRiskTabName = $(evt).attr('href').replace('#', '');
        // console.log(clickRiskTabName);
        if (activeRiskTabName === 'captain' && clickRiskTabName === 'description') {
            if (!getRiskInfo()) return;
            getRiskAssessResult();
        } else activeRiskTabName = clickRiskTabName;
    }

    function riskNextBtn() {
        let riskTab = $('.wizard-navigation ul li.active a').attr('href').replace('#', '');
        // console.log(riskTab);
        if (riskTab === 'captain' || riskTab === 'details') {
            if (!getRiskInfo()) return;
            getRiskAssessResult();
            activeRiskTabName = 'description';
        } else activeRiskTabName = 'description';
    }

    function riskFinishBtn() {
        submitMailUs()
    }

    function getRiskAssessResult() {
        $('#span-risk-name').text(riskName);
        $('#span-risk-signature').text(riskName);
        $('#span-risk-domain').text(riskDomain);
        $('.dot-opacity-loader').css('display', 'block');
        $.ajax({
            url: '/free-risk-assessment',
            method: 'post',
            data: {
                method_type: 'risk-api',
                riskName: riskName,
                riskEmail: riskEmail,
                riskPassword: riskPassword,
                riskDomain: riskDomain,
                riskIndustry: riskIndustry,
                riskEmployees: riskEmployees,
                riskPhone: riskPhone,
            },
            success: function (res) {
                if (res.status === 'success') {
                    $('#riskTabContent').html('');
                    // customAlert(res.message, true);
                    let riskData = res.data;
                    let reputationScore = "Very Risk";
                    if (parseFloat(riskData.reputationScore) > 90) reputationScore = "Very Secure";
                    else if (parseFloat(riskData.reputationScore) > 70) reputationScore = "Secure";
                    else if (parseFloat(riskData.reputationScore) > 50) reputationScore = "Risk";
                    $('#riskTabContent').append('<h5>Warning detected score: ' + riskData.reputationScore + '</h5>');
                    for (let i = 0; i < riskData.testResults.length; i++) {
                        $('#riskTabContent').append('<label class="risk-label">' + riskData.testResults[i].test + '</label>');
                        for (let j = 0; j < riskData.testResults[i].warnings.length; j++) {
                            $('#riskTabContent').append('<p class="risk-description">' + riskData.testResults[i].warnings[j] + '</p>');
                        }
                    }
                } else customAlert(res.message);
                $('.dot-opacity-loader').css('display', 'none');
            }
        })
    }
    function submitMailUs() {
        $('input[name="finish"]').val('Sending ...');
        $('input[name="finish"]').prop('disabled', true);
        $.ajax({
            url: "/free-risk-assessment",
            method: 'post',
            data: {
                method_type: 'risk-mailing',
                report_name: riskName,
                report_email: riskEmail,
                report_password: riskPassword,
                report_domain: riskDomain,
                report_industry: riskIndustry,
                report_employees: riskEmployees,
                report_phone: riskPhone,
            },
            success: function (res) {
                if (res.status === 'success') customAlert(res.message, true);
                else customAlert(res.message);
                $('input[name="finish"]').val('Submit');
                $('input[name="finish"]').prop('disabled', false);
            }
        })
    }
</script>
</body>
</html>
