.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 404px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 242px; background-image: none}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-bottom: 0}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; line-height: 106px; margin: 111px 100px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 242px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 624px}
.u-section-1 .u-text-1 {width: auto; margin-top: 139px; margin-right: 6px}
.u-section-1 .u-layout-cell-2 {min-height: 624px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 514px}
.u-section-1 .u-text-1 {margin-top: 199px; margin-right: 13px}
.u-section-1 .u-layout-cell-2 {min-height: 478px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 757px}
.u-section-1 .u-layout-cell-1 {min-height: 480px}
.u-section-1 .u-text-1 {position: relative; margin-top: 118px; margin-right: 54px}
.u-section-1 .u-layout-cell-2 {min-height: 717px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 749px}
.u-section-1 .u-layout-cell-1 {min-height: 442px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 296px; margin-right: 34px}
.u-section-1 .u-layout-cell-2 {min-height: 451px} }.u-section-2 {background-image: url("images/b78377f1a6f37f85fad6fcc6c47c62a83.jpeg")}
.u-section-2 .u-image-1 {min-height: 557px; background-image: url("images/0f7ff730bc4f5e4b364c809951061f013.png")}
.u-section-2 .u-icon-1 {height: 275px; width: 275px; margin: 20px auto 0 30px}
.u-section-2 .u-icon-2 {height: 233px; width: 233px; margin: -18px auto 0 38px}
.u-section-2 .u-group-1 {width: 441px; min-height: 462px; background-image: none; margin: -475px 100px 60px auto}
.u-section-2 .u-container-layout-1 {padding-right: 0}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 45px 20px 0 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; margin: 30px 20px 0 0}
.u-section-2 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; margin: 20px auto 0 20px} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {min-height: 459px}
.u-section-2 .u-group-1 {margin-right: auto; margin-left: 507px}
.u-section-2 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 {background-position: 90.83% 50%}
.u-section-2 .u-image-1 {min-height: 352px}
.u-section-2 .u-icon-1 {height: 334px; width: 334px; margin-top: 37px; margin-left: 21px}
.u-section-2 .u-icon-2 {margin-top: 12px}
.u-section-2 .u-group-1 {margin-left: 355px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-image-1 {min-height: 736px}
.u-section-2 .u-icon-1 {margin-top: 20px; margin-left: 103px}
.u-section-2 .u-icon-2 {margin-top: 243px}
.u-section-2 .u-group-1 {margin-right: 26px; margin-left: auto}
.u-section-2 .u-container-layout-1 {padding-left: 30px}
.u-section-2 .u-text-1 {margin-top: 62px; margin-right: 9px; margin-left: 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 26px 0 40px}
.u-section-2 .u-btn-1 {margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {min-height: 463px}
.u-section-2 .u-icon-1 {margin-left: 6px}
.u-section-2 .u-icon-2 {margin-top: 39px}
.u-section-2 .u-group-1 {width: 340px; margin-top: -616px; margin-right: 0}
.u-section-2 .u-text-1 {margin-top: 45px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px; margin-bottom: 45px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 622px}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-1 {background-image: none; min-height: 652px}
.u-section-3 .u-group-1 {width: 479px; min-height: 83px; background-image: none; margin: 144px auto 0 0}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin: 20px 0}
.u-section-3 .u-group-2 {width: 479px; min-height: 453px; height: auto; margin: 20px auto 0 0}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-2 {font-size: 1.5rem; margin: 5px 0 0 -20px}
.u-section-3 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; width: 126px; height: 36px; margin: 20px auto 0 -20px}
.u-section-3 .u-layout-cell-2 {min-height: 652px}
.u-section-3 .u-icon-1 {height: 442px; width: 442px; background-image: none; margin: 97px auto 0 47px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 751px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-group-1 {width: 395px; margin-top: 60px; margin-left: 16px}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-3 .u-group-2 {width: 378px; margin-left: 16px}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-2 {position: relative; margin-left: -16px}
.u-section-3 .u-layout-cell-2 {min-height: 326px; background-position: 50% 50%}
.u-section-3 .u-icon-1 {margin-left: 13px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {margin-top: 30px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-group-1 {width: 687px; min-height: 77px; margin-top: 0; margin-left: 13px}
.u-section-3 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-1 {margin-left: 13px; margin-right: 13px; margin-bottom: 0}
.u-section-3 .u-group-2 {width: 312px; min-height: 233px; margin-top: 29px; margin-left: 13px}
.u-section-3 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-2 {margin-left: -13px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-icon-1 {height: 345px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 503px; min-height: 91px; margin-top: 55px; margin-left: auto}
.u-section-3 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-group-2 {width: 503px; min-height: 131px; margin-top: 9px; margin-left: auto}
.u-section-3 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-3 .u-text-2 {margin-top: 8px; margin-bottom: 8px; margin-left: 0}
.u-section-3 .u-icon-1 {margin-top: -30px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 552px}
.u-section-3 .u-group-1 {width: 316px; min-height: 101px; margin-top: 63px}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin: 10px 6px}
.u-section-3 .u-group-2 {width: 316px; min-height: 216px; margin-top: 13px; margin-right: 11px}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-2 {margin-left: -6px}
.u-section-3 .u-icon-1 {height: 340px; width: auto; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: url("images/c118b060b12e2a92dd6a9f9ece5a4ab03.jpeg"); background-position: 50% 50%; min-height: 502px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 504px}
.u-section-4 .u-container-layout-1 {padding-top: 0}
.u-section-4 .u-icon-1 {height: 436px; width: 436px; margin: 56px 128px 0 auto}
.u-section-4 .u-layout-cell-2 {min-height: 504px}
.u-section-4 .u-container-layout-2 {margin-bottom: 0}
.u-section-4 .u-group-1 {width: 424px; min-height: 412px; margin: 46px auto 46px 38px}
.u-section-4 .u-text-1 {margin: 0 20px 0 0}
.u-section-4 .u-text-2 {margin: 20px 20px 0 0}
.u-section-4 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; width: 126px; height: 36px; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 479px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 532px; background-position: 78.68% 50%}
.u-section-4 .u-icon-1 {margin-right: 112px}
.u-section-4 .u-layout-cell-2 {min-height: 532px}
.u-section-4 .u-group-1 {width: 350px; min-height: 440px; margin-left: 33px}
.u-section-4 .u-text-1 {position: relative}
.u-section-4 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-4 {min-height: 369px}
.u-section-4 .u-layout-cell-1 {min-height: 539px}
.u-section-4 .u-icon-1 {height: 420px; width: 420px; margin-top: 63px; margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 539px}
.u-section-4 .u-container-layout-2 {padding-top: 0}
.u-section-4 .u-group-1 {width: 268px; margin-top: 53px; margin-left: 24px}
.u-section-4 .u-text-1 {margin-right: 13px}
.u-section-4 .u-text-2 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-4 {min-height: 1033px}
.u-section-4 .u-layout-cell-1 {min-height: 100px; background-position: 56.74% 50%}
.u-section-4 .u-layout-cell-2 {min-height: 550px}
.u-section-4 .u-group-1 {width: 540px; min-height: 410px; margin-left: auto; margin-bottom: 29px}
.u-section-4 .u-text-1 {margin-top: 86px; margin-right: 19px}
.u-section-4 .u-text-2 {margin-top: 38px; margin-right: 19px} }

@media (max-width: 575px){ .u-section-4 {min-height: 369px}
.u-section-4 .u-icon-1 {height: 340px; width: 340px}
.u-section-4 .u-layout-cell-2 {min-height: 551px}
.u-section-4 .u-group-1 {width: 340px; min-height: 443px; margin-top: 37px; margin-bottom: 0}
.u-section-4 .u-text-1 {margin-top: 100px; margin-right: 6px; margin-left: 7px}
.u-section-4 .u-text-2 {margin-top: 19px; margin-left: 6px; margin-right: 6px} }.u-section-5 {min-height: 530px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 530px; background-image: none}
.u-section-5 .u-container-layout-1 {margin-bottom: 0}
.u-section-5 .u-group-1 {width: 460px; min-height: 448px; background-image: none; margin: 41px 45px 41px auto}
.u-section-5 .u-container-layout-2 {padding-right: 0; padding-left: 0}
.u-section-5 .u-text-1 {font-size: 2.25rem; margin: 83px 0 0 20px}
.u-section-5 .u-text-2 {margin: 20px 19px 0 20px}
.u-section-5 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; width: 126px; height: 36px; margin: 20px auto 0 20px}
.u-section-5 .u-layout-cell-2 {min-height: 530px}
.u-section-5 .u-icon-1 {height: 399px; width: 399px; background-image: none; margin: 56px 119px 0 auto} 

@media (max-width: 1199px){ .u-section-5 {min-height: 547px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 547px}
.u-section-5 .u-group-1 {width: 379px; margin-right: 37px}
.u-section-5 .u-text-1 {position: relative; margin-top: 45px; margin-left: 16px}
.u-section-5 .u-text-2 {position: relative; margin-right: 16px; margin-left: 16px}
.u-section-5 .u-layout-cell-2 {min-height: 547px; background-position: 50% 50%}
.u-section-5 .u-icon-1 {margin-right: 118px} }

@media (max-width: 991px){ .u-section-5 {min-height: 590px}
.u-section-5 .u-layout-cell-1 {min-height: 590px}
.u-section-5 .u-group-1 {width: 291px; min-height: 549px; margin-top: 0; margin-right: 28px; margin-bottom: 0}
.u-section-5 .u-text-1 {margin-left: 13px}
.u-section-5 .u-text-2 {margin-right: 12px; margin-left: 13px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-icon-1 {height: 396px; width: 396px; margin-right: 0} }

@media (max-width: 767px){ .u-section-5 {min-height: 1014px}
.u-section-5 .u-layout-cell-1 {min-height: 484px}
.u-section-5 .u-group-1 {width: 540px; min-height: 386px; margin-top: 49px; margin-bottom: 49px; margin-right: auto}
.u-section-5 .u-container-layout-2 {padding-left: 20px}
.u-section-5 .u-text-1 {margin-right: 20px; margin-left: 0}
.u-section-5 .u-text-2 {margin-right: 20px; margin-left: 0}
.u-section-5 .u-layout-cell-2 {min-height: 644px}
.u-section-5 .u-icon-1 {margin-top: 3px} }

@media (max-width: 575px){ .u-section-5 {min-height: 1103px}
.u-section-5 .u-layout-cell-1 {min-height: 612px}
.u-section-5 .u-group-1 {width: 340px; min-height: 506px; margin-top: 53px; margin-bottom: 53px}
.u-section-5 .u-container-layout-2 {padding-left: 26px}
.u-section-5 .u-text-1 {font-size: 1.5rem; margin-top: 118px; margin-right: 6px}
.u-section-5 .u-text-2 {margin-right: 6px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-icon-1 {height: 340px; width: 340px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 629px}
.u-section-6 .u-icon-1 {height: 381px; width: 381px; margin: 140px auto 0 69px}
.u-section-6 .u-group-1 {width: 424px; min-height: 459px; margin: -420px 0 60px auto}
.u-section-6 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-6 .u-text-1 {margin: 156px 10px 0}
.u-section-6 .u-text-2 {margin: 30px 10px 0}
.u-section-6 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; height: 36px; margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 645px}
.u-section-6 .u-icon-1 {margin-top: 257px}
.u-section-6 .u-group-1 {width: 430px; min-height: 480px; margin-top: -480px; margin-right: 21px}
.u-section-6 .u-text-1 {position: relative; margin-top: 131px; margin-left: 8px; margin-right: 8px}
.u-section-6 .u-text-2 {position: relative; margin-left: 8px; margin-right: 8px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 887px}
.u-section-6 .u-icon-1 {margin-top: 54px; margin-left: auto}
.u-section-6 .u-group-1 {min-height: 413px; margin-top: 6px; margin-bottom: 33px; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-text-1 {margin-top: 148px; margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-2 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 611px}
.u-section-6 .u-icon-1 {margin-top: 20px}
.u-section-6 .u-group-1 {min-height: 455px; margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {margin-top: 181px; margin-left: 5px; margin-right: 5px}
.u-section-6 .u-text-2 {margin-left: 5px; margin-right: 5px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 570px}
.u-section-6 .u-icon-1 {height: 340px; width: 340px; margin-top: 608px}
.u-section-6 .u-group-1 {min-height: 545px; margin-top: -265px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {margin-top: 210px; margin-left: 3px; margin-right: 3px}
.u-section-6 .u-text-2 {margin-left: 3px; margin-right: 3px} }