.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 624px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 624px; background-image: none}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-group-1 {width: 436px; min-height: 65px; box-shadow: 2px -2px 8px 0 rgba(128,128,128,1); background-image: none; margin: 9px auto 0 0}
.u-section-1 .u-container-layout-2 {padding: 1px 30px 0}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; animation-duration: 1000ms; margin: 0 39px 0 auto}
.u-section-1 .u-text-1 {text-transform: uppercase; font-weight: 700; font-size: 2.25rem; margin: -46px auto 0 0}
.u-section-1 .u-text-icon-1 {font-size: 0em}
.u-section-1 .u-text-2 {font-size: 6rem; margin: -12px -56px 0 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; line-height: 1.4; margin: 30px 113px 0 0}
.u-section-1 .u-btn-1 {background-image: none; margin: 34px auto 0 0; padding: 12px 42px 13px}
.u-section-1 .u-layout-cell-2 {min-height: 624px}
.u-section-1 .u-image-1 {height: 522px; margin: 18px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {width: 426px; margin-top: 114px; margin-left: 2px}
.u-section-1 .u-text-2 {position: relative; margin-top: 0; margin-right: 16px}
.u-section-1 .u-text-3 {position: relative; margin-top: -22px; margin-right: 28px}
.u-section-1 .u-layout-cell-2 {background-position: 50% 50%}
.u-section-1 .u-image-1 {height: 431px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 404px}
.u-section-1 .u-layout-cell-1 {min-height: 514px}
.u-section-1 .u-group-1 {width: 332px; margin-top: 199px; margin-left: 0}
.u-section-1 .u-icon-1 {margin-top: -1px; margin-right: -5px}
.u-section-1 .u-text-1 {width: auto; font-size: 1.875rem; margin-top: -48px}
.u-section-1 .u-text-2 {font-size: 4.5rem; margin-top: 14px; margin-right: 13px}
.u-section-1 .u-text-3 {margin-right: 13px}
.u-section-1 .u-btn-1 {margin-top: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {height: 330px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 850px}
.u-section-1 .u-layout-cell-1 {min-height: 480px}
.u-section-1 .u-group-1 {margin-top: -58px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-top: 151px; margin-right: 9px}
.u-section-1 .u-text-3 {margin-right: 54px}
.u-section-1 .u-image-1 {height: 495px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 749px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 23px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 442px}
.u-section-1 .u-group-1 {width: 320px; margin-top: 161px}
.u-section-1 .u-text-1 {font-size: 1.5rem}
.u-section-1 .u-text-2 {font-size: 3.75rem; margin-top: 55px; margin-right: 6px}
.u-section-1 .u-text-3 {margin-right: 34px}
.u-section-1 .u-image-1 {height: 312px; margin-right: initial; margin-left: initial} }.u-section-2 .u-sheet-1 {min-height: 582px}
.u-section-2 .u-image-1 {width: 570px; height: 770px; margin: 60px auto} 

@media (max-width: 767px){ .u-section-2 .u-image-1 {width: 540px; height: 729px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {width: 340px; height: 459px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 100vh}
.u-section-3 .u-image-1 {width: 575px; height: 791px; margin: 78px 271px 60px auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 645px}
.u-section-3 .u-image-1 {margin-top: 80px; margin-right: 175px; margin-bottom: 58px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 534px}
.u-section-3 .u-image-1 {margin: 84px auto 53px 58px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 611px}
.u-section-3 .u-image-1 {width: 540px; height: 743px; margin-left: 0} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 337px}
.u-section-3 .u-image-1 {width: 340px; height: 468px} }