.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 624px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 624px; background-image: none}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-group-1 {width: 436px; min-height: 65px; box-shadow: 2px -2px 8px 0 rgba(128,128,128,1); background-image: none; margin: 9px auto 0 0}
.u-section-1 .u-container-layout-2 {padding: 1px 30px 0}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; animation-duration: 1000ms; margin: 0 39px 0 auto}
.u-section-1 .u-text-1 {text-transform: uppercase; font-weight: 700; font-size: 2.25rem; margin: -46px auto 0 0}
.u-section-1 .u-text-icon-1 {font-size: 0em}
.u-section-1 .u-text-2 {font-size: 6rem; margin: -12px -56px 0 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; line-height: 1.4; margin: 30px 113px 0 0}
.u-section-1 .u-btn-1 {background-image: none; margin: 34px auto 0 0; padding: 12px 42px 13px}
.u-section-1 .u-layout-cell-2 {min-height: 624px}
.u-section-1 .u-image-1 {width: 599px; height: 566px; margin: 0 auto 0 9px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {width: 426px; margin-top: 114px; margin-left: 2px}
.u-section-1 .u-text-2 {position: relative; margin-top: 0; margin-right: 16px}
.u-section-1 .u-text-3 {position: relative; margin-top: -22px; margin-right: 28px}
.u-section-1 .u-layout-cell-2 {background-position: 50% 50%}
.u-section-1 .u-image-1 {width: 470px; height: 444px; margin-top: 654px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 404px}
.u-section-1 .u-layout-cell-1 {min-height: 514px}
.u-section-1 .u-group-1 {width: 332px; margin-top: 199px; margin-left: 0}
.u-section-1 .u-icon-1 {margin-top: -1px; margin-right: -5px}
.u-section-1 .u-text-1 {width: auto; font-size: 1.875rem; margin-top: -48px}
.u-section-1 .u-text-2 {font-size: 4.5rem; margin-top: 14px; margin-right: 13px}
.u-section-1 .u-text-3 {margin-right: 13px}
.u-section-1 .u-btn-1 {margin-top: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 514px}
.u-section-1 .u-image-1 {width: 360px; height: 340px; margin-top: 437px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 850px}
.u-section-1 .u-layout-cell-1 {min-height: 480px}
.u-section-1 .u-group-1 {margin-top: -58px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-top: 151px; margin-right: 9px}
.u-section-1 .u-text-3 {margin-right: 54px}
.u-section-1 .u-layout-cell-2 {min-height: 480px}
.u-section-1 .u-image-1 {margin-top: 499px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 749px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 23px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 442px}
.u-section-1 .u-group-1 {width: 320px; margin-top: 161px}
.u-section-1 .u-text-1 {font-size: 1.5rem}
.u-section-1 .u-text-2 {font-size: 3.75rem; margin-top: 55px; margin-right: 6px}
.u-section-1 .u-text-3 {margin-right: 34px}
.u-section-1 .u-layout-cell-2 {min-height: 417px}
.u-section-1 .u-image-1 {width: 340px; height: 321px; margin-top: 416px} }.u-section-2 {background-image: url("images/b78377f1a6f37f85fad6fcc6c47c62a81.jpeg")}
.u-section-2 .u-image-1 {min-height: 582px; background-image: url("images/0f7ff730bc4f5e4b364c809951061f011.png")}
.u-section-2 .u-icon-1 {height: 479px; width: 479px; margin: 29px auto 0 0}
.u-section-2 .u-group-1 {width: 441px; min-height: 462px; background-image: none; margin: -448px 100px 60px auto}
.u-section-2 .u-container-layout-1 {padding-right: 0}
.u-section-2 .u-icon-2 {height: 44px; width: 44px; margin: 45px auto 0 0}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 30px 20px 0 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; margin: 30px 20px 45px 0} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {min-height: 536px}
.u-section-2 .u-icon-1 {margin-top: 212px}
.u-section-2 .u-group-1 {width: 364px; margin-top: -239px; margin-right: 60px}
.u-section-2 .u-icon-2 {margin-left: 16px}
.u-section-2 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 {background-position: 90.83% 50%}
.u-section-2 .u-image-1 {min-height: 551px}
.u-section-2 .u-icon-1 {margin-top: 36px; margin-left: -50px}
.u-section-2 .u-group-1 {width: 313px; min-height: 446px; margin-top: -410px; margin-right: 13px; margin-bottom: 0}
.u-section-2 .u-icon-2 {margin-left: 13px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-image-1 {min-height: 426px}
.u-section-2 .u-group-1 {width: 279px; min-height: 416px}
.u-section-2 .u-container-layout-1 {padding-left: 30px}
.u-section-2 .u-icon-2 {height: 30px; width: 30px; margin-top: 62px; margin-left: 0}
.u-section-2 .u-text-1 {margin-top: 26px; margin-right: 9px; margin-left: 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 26px 0 40px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {min-height: 381px}
.u-section-2 .u-icon-1 {height: 340px; width: 340px; margin-left: 0}
.u-section-2 .u-group-1 {width: 332px; min-height: 425px; margin-top: -271px; margin-right: auto; margin-left: 0}
.u-section-2 .u-icon-2 {margin-top: 45px; margin-left: 6px}
.u-section-2 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px; margin-bottom: 45px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 622px}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-1 {background-image: none; min-height: 652px}
.u-section-3 .u-icon-1 {height: 44px; width: 44px; margin: 73px auto 0 0}
.u-section-3 .u-icon-2 {height: 554px; width: 554px; margin: -103px 16px 0 auto}
.u-section-3 .u-group-1 {width: 479px; min-height: 162px; margin: -338px auto 0 0}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {font-size: 1.5rem; margin: 5px 0 0 -20px}
.u-section-3 .u-group-2 {width: 479px; min-height: 83px; background-image: none; margin: -259px auto 0 0}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-2 {font-size: 2.25rem; margin: 20px 0 0}
.u-section-3 .u-btn-1 {background-image: none; margin: 196px auto 0 0; padding: 12px 42px 13px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-icon-1 {margin-top: -6px}
.u-section-3 .u-icon-2 {margin-top: -38px; margin-right: 0}
.u-section-3 .u-group-1 {margin-top: -403px}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative}
.u-section-3 .u-group-2 {width: 381px}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1414px}
.u-section-3 .u-layout-wrap-1 {margin-top: 30px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-icon-2 {margin-top: 350px; margin-right: auto; margin-left: 0}
.u-section-3 .u-group-1 {margin-top: -791px}
.u-section-3 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-container-layout-3 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 2072px}
.u-section-3 .u-layout-wrap-1 {margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 563px}
.u-section-3 .u-icon-2 {height: 540px; width: 540px}
.u-section-3 .u-group-1 {margin-top: -777px}
.u-section-3 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-3 .u-container-layout-3 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1939px}
.u-section-3 .u-layout-wrap-1 {margin-top: 5px; margin-bottom: 37px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 552px}
.u-section-3 .u-icon-2 {height: 340px; width: 340px}
.u-section-3 .u-group-1 {width: 340px; margin-top: -577px}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-1 {margin-left: 0}
.u-section-3 .u-group-2 {width: 340px}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-2 {font-size: 1.875rem} }.u-section-4 {background-image: url("images/c118b060b12e2a92dd6a9f9ece5a4ab01.jpeg"); background-position: 50% 50%; min-height: 451px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 504px}
.u-section-4 .u-icon-1 {height: 471px; width: 471px; margin: 0 116px 0 auto}
.u-section-4 .u-layout-cell-2 {min-height: 504px}
.u-section-4 .u-container-layout-2 {margin-bottom: 0}
.u-section-4 .u-group-1 {width: 424px; min-height: 412px; margin: 46px auto 46px 38px}
.u-section-4 .u-icon-2 {height: 44px; width: 44px; background-image: none; margin: 33px auto 0 0}
.u-section-4 .u-text-1 {margin: 10px 20px 0 0}
.u-section-4 .u-text-2 {margin: 20px 20px 0 0}
.u-section-4 .u-btn-1 {border-style: solid; margin: 55px 0 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 479px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 532px; background-position: 78.68% 50%}
.u-section-4 .u-icon-1 {margin-right: 77px}
.u-section-4 .u-layout-cell-2 {min-height: 532px}
.u-section-4 .u-group-1 {width: 350px; min-height: 440px; margin-left: 33px}
.u-section-4 .u-icon-2 {margin-top: 43px}
.u-section-4 .u-text-1 {margin-top: 0}
.u-section-4 .u-text-2 {position: relative}
.u-section-4 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-4 {min-height: 369px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-icon-1 {height: 420px; width: 420px; margin-right: 0}
.u-section-4 .u-group-1 {width: 268px; margin-left: 24px}
.u-section-4 .u-icon-2 {margin-top: 31px; margin-left: 13px}
.u-section-4 .u-text-1 {margin-top: 13px; margin-left: 7px; margin-right: 7px}
.u-section-4 .u-text-2 {margin-top: 19px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-4 .u-layout-cell-1 {background-position: 56.74% 50%}
.u-section-4 .u-layout-cell-2 {min-height: 550px}
.u-section-4 .u-group-1 {width: 540px; min-height: 410px; margin-left: auto; margin-bottom: 29px}
.u-section-4 .u-icon-2 {margin-top: 203px}
.u-section-4 .u-text-1 {position: relative; margin-top: 11px; margin-right: 19px; width: auto}
.u-section-4 .u-text-2 {margin-top: 38px; margin-right: 19px}
.u-section-4 .u-btn-1 {margin-top: 38px; margin-right: auto} }

@media (max-width: 575px){ .u-section-4 .u-icon-1 {height: 340px; width: 340px; margin-top: 34px}
.u-section-4 .u-layout-cell-2 {min-height: 551px}
.u-section-4 .u-group-1 {width: 340px; min-height: 443px; margin-top: 37px; margin-bottom: 0}
.u-section-4 .u-icon-2 {margin-top: 220px}
.u-section-4 .u-text-1 {margin-top: 15px; margin-right: 6px}
.u-section-4 .u-text-2 {margin-top: 19px; margin-left: 6px; margin-right: 6px}
.u-section-4 .u-btn-1 {margin-top: 24px; margin-left: 7px} }.u-section-5 {min-height: 530px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 530px; background-image: none}
.u-section-5 .u-container-layout-1 {margin-bottom: 0}
.u-section-5 .u-group-1 {width: 460px; min-height: 448px; background-image: none; margin: 41px 45px 41px auto}
.u-section-5 .u-container-layout-2 {padding-right: 0; padding-left: 0}
.u-section-5 .u-icon-1 {height: 48px; width: 48px; margin: 45px auto 0 20px}
.u-section-5 .u-text-1 {font-size: 1.5rem; margin: 20px 0 0 20px}
.u-section-5 .u-text-2 {margin: 20px 19px 0 20px}
.u-section-5 .u-btn-1 {border-style: solid; margin: 45px auto 45px 20px}
.u-section-5 .u-layout-cell-2 {min-height: 530px}
.u-section-5 .u-image-1 {width: 760px; left: -45px; right: auto} 

@media (max-width: 1199px){ .u-section-5 {min-height: 547px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 547px}
.u-section-5 .u-group-1 {width: 379px; margin-right: 37px}
.u-section-5 .u-icon-1 {margin-left: 16px}
.u-section-5 .u-text-1 {position: relative; margin-left: 16px}
.u-section-5 .u-text-2 {position: relative; margin-right: 16px; margin-left: 16px}
.u-section-5 .u-btn-1 {position: relative; height: 46px; margin-left: 16px}
.u-section-5 .u-layout-cell-2 {min-height: 547px; background-position: 50% 50%}
.u-section-5 .u-image-1 {width: 609px; left: -37px} }

@media (max-width: 991px){ .u-section-5 {min-height: 590px}
.u-section-5 .u-layout-cell-1 {min-height: 590px}
.u-section-5 .u-group-1 {width: 291px; min-height: 549px; margin-right: 28px; margin-bottom: 0}
.u-section-5 .u-icon-1 {margin-left: 13px}
.u-section-5 .u-text-1 {margin-left: 13px}
.u-section-5 .u-text-2 {margin-right: 12px; margin-left: 13px}
.u-section-5 .u-btn-1 {margin-left: 13px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-1 {width: 480px; left: -28px; object-position: 25.85% 50%; background-position: 25.85% 50%} }

@media (max-width: 767px){ .u-section-5 {min-height: 1014px}
.u-section-5 .u-layout-cell-1 {min-height: 484px}
.u-section-5 .u-group-1 {width: 540px; min-height: 386px; margin-top: 49px; margin-bottom: 49px; margin-right: auto}
.u-section-5 .u-container-layout-2 {padding-left: 20px}
.u-section-5 .u-icon-1 {margin-left: 0}
.u-section-5 .u-text-1 {margin-right: 20px; margin-left: 0}
.u-section-5 .u-text-2 {margin-right: 20px; margin-left: 0}
.u-section-5 .u-btn-1 {margin-top: 20px; margin-bottom: 0; margin-left: 0}
.u-section-5 .u-image-1 {width: 661px; left: -21px} }

@media (max-width: 575px){ .u-section-5 {min-height: 1103px}
.u-section-5 .u-layout-cell-1 {min-height: 612px}
.u-section-5 .u-group-1 {width: 340px; min-height: 506px; margin-top: 53px; margin-bottom: 53px}
.u-section-5 .u-container-layout-2 {padding-left: 26px}
.u-section-5 .u-icon-1 {margin-top: 47px}
.u-section-5 .u-text-1 {margin-right: 6px}
.u-section-5 .u-text-2 {margin-right: 6px}
.u-section-5 .u-btn-1 {margin-top: 26px; margin-bottom: 47px}
.u-section-5 .u-image-1 {width: 453px; left: -13px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 629px}
.u-section-6 .u-image-1 {width: 606px; height: 528px; margin: 51px auto 0 0}
.u-section-6 .u-group-1 {width: 424px; min-height: 459px; margin: -478px 0 65px auto}
.u-section-6 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-6 .u-image-2 {width: 227px; height: 88px; margin: 22px auto 0 99px}
.u-section-6 .u-text-1 {margin: 21px 10px 0}
.u-section-6 .u-text-2 {margin: 30px 10px 0}
.u-section-6 .u-btn-1 {border-style: solid; margin: 39px auto 22px 142px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 645px}
.u-section-6 .u-image-1 {width: 500px}
.u-section-6 .u-group-1 {width: 430px; min-height: 480px; margin-top: -496px; margin-bottom: 83px}
.u-section-6 .u-image-2 {width: 187px; margin-left: auto}
.u-section-6 .u-text-1 {position: relative; margin-left: 8px; margin-right: 8px}
.u-section-6 .u-text-2 {position: relative; margin-left: 8px; margin-right: 8px}
.u-section-6 .u-btn-1 {position: relative; margin-left: auto; margin-bottom: 50px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 534px}
.u-section-6 .u-image-1 {width: 312px; height: 290px; margin-top: 22px; margin-left: auto}
.u-section-6 .u-group-1 {min-height: 413px; margin-top: 0; margin-bottom: 47px; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-image-2 {width: 143px; margin-top: 31px}
.u-section-6 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-btn-1 {margin-bottom: 31px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 611px}
.u-section-6 .u-image-1 {width: 428px; height: 367px; margin-top: 21px}
.u-section-6 .u-group-1 {min-height: 455px; margin-top: 12px; margin-bottom: 45px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-2 {width: 183px; height: 98px; margin-top: 33px}
.u-section-6 .u-text-1 {margin-left: 5px; margin-right: 5px}
.u-section-6 .u-text-2 {margin-left: 5px; margin-right: 5px}
.u-section-6 .u-btn-1 {margin-bottom: 33px} }

@media (max-width: 575px){ .u-section-6 .u-image-1 {width: 301px; margin-top: 20px}
.u-section-6 .u-group-1 {min-height: 545px; margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-2 {width: 187px; margin-top: 55px}
.u-section-6 .u-text-1 {margin-left: 3px; margin-right: 3px}
.u-section-6 .u-text-2 {margin-left: 3px; margin-right: 3px}
.u-section-6 .u-btn-1 {margin-bottom: 55px} }.u-section-7 {background-image: none; min-height: 758px}
.u-section-7 .u-group-1 {width: 724px; min-height: 185px; margin: 34px auto 0}
.u-section-7 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-7 .u-text-1 {margin-left: 20px; margin-right: 20px; font-size: 3rem; margin-bottom: 0}
.u-section-7 .u-text-2 {margin: 20px}
.u-section-7 .u-layout-wrap-1 {margin: 40px auto 0 0}
.u-section-7 .u-image-1 {min-height: 499px; background-image: url("images/3979516d1848e98699dbf135a79e398b1.jpeg"); background-position: 50% 0%}
.u-section-7 .u-image-2 {background-image: url("images/82b186fee235650f7f412f2aebb71b941.jpeg"); min-height: 499px; background-position: 50% 0%} 

@media (max-width: 1199px){ .u-section-7 .u-group-1 {width: 597px}
.u-section-7 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-7 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-7 {min-height: 721px}
.u-section-7 .u-group-1 {width: 720px; min-height: 258px}
.u-section-7 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-7 .u-text-2 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-7 .u-group-1 {width: 540px}
.u-section-7 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-7 .u-text-2 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-7 {min-height: 620px}
.u-section-7 .u-group-1 {width: 340px}
.u-section-7 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-7 .u-text-2 {margin-left: 6px; margin-right: 6px} }.u-section-8 {background-image: url("images/ba99c116a62dfeae0f161d317198931a1.jpeg"); background-position: 50% 50%; min-height: 451px}
.u-section-8 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-8 .u-image-1 {min-height: 477px; background-image: url("images/c69dbbeb31083ccc7bfe47ef13dfe8cc1.jpeg"); background-position: 50% 50%}
.u-section-8 .u-layout-cell-2 {min-height: 477px}
.u-section-8 .u-container-layout-2 {margin-bottom: 0}
.u-section-8 .u-group-1 {width: 424px; min-height: 412px; margin: 32px auto 33px 0}
.u-section-8 .u-icon-1 {height: 44px; width: 44px; margin: 39px auto 0 0}
.u-section-8 .u-text-1 {font-size: 2.25rem; margin: 19px 20px 0 0}
.u-section-8 .u-text-2 {margin: 20px 20px 0 0}
.u-section-8 .u-btn-1 {border-style: solid; margin: 35px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-group-1 {width: 350px; position: relative}
.u-section-8 .u-text-1 {margin-right: 16px}
.u-section-8 .u-text-2 {margin-right: 16px}
.u-section-8 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-8 {min-height: 341px}
.u-section-8 .u-group-1 {width: 268px}
.u-section-8 .u-icon-1 {margin-top: 32px}
.u-section-8 .u-text-1 {font-size: 1.875rem; margin-right: 13px}
.u-section-8 .u-text-2 {margin-right: 13px}
.u-section-8 .u-btn-1 {margin-bottom: 32px} }

@media (max-width: 767px){ .u-section-8 .u-image-1 {min-height: 423px}
.u-section-8 .u-layout-cell-2 {min-height: 447px}
.u-section-8 .u-group-1 {width: 516px; min-height: 373px; margin-top: 33px; margin-bottom: 0; margin-left: 54px}
.u-section-8 .u-icon-1 {margin-top: 33px}
.u-section-8 .u-text-1 {position: relative; margin-right: 70px}
.u-section-8 .u-text-2 {position: relative; margin-top: 32px; margin-right: 70px}
.u-section-8 .u-btn-1 {margin-top: 33px; margin-right: auto; margin-bottom: 33px} }

@media (max-width: 575px){ .u-section-8 {min-height: 240px}
.u-section-8 .u-group-1 {width: 211px}
.u-section-8 .u-text-1 {margin-right: 6px}
.u-section-8 .u-text-2 {margin-right: 6px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 622px}
.u-section-9 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-9 .u-layout-cell-1 {background-image: none; min-height: 652px}
.u-section-9 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-9 .u-group-1 {width: 479px; min-height: 83px; background-image: none; margin: 107px auto 0 0}
.u-section-9 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-9 .u-text-1 {margin: 20px 0}
.u-section-9 .u-group-2 {width: 479px; min-height: 162px; margin: 20px auto 0 0}
.u-section-9 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-9 .u-text-2 {font-size: 1.5rem; margin: 5px 0 0 -20px}
.u-section-9 .u-btn-1 {background-image: none; margin: 20px auto 60px 0; padding: 12px 42px 13px}
.u-section-9 .u-image-1 {background-image: url("images/3341dacb8a1d426a18c9a7acd990c1f81.jpeg"); min-height: 326px}
.u-section-9 .u-image-2 {min-height: 326px; background-image: url("images/6b1d3bb5743732844f9b7fd28f25c63c1.jpeg"); background-position: 50% 50%}
.u-section-9 .u-image-3 {min-height: 326px; background-image: url("images/1f253a5a342bce2b2d4343445b7856731.jpeg"); background-position: 50% 50%}
.u-section-9 .u-image-4 {min-height: 326px; background-image: url("images/d2e51009a0d5b9585eed3211194d5f8b1.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-group-1 {width: 395px; margin-left: 16px}
.u-section-9 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-9 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-9 .u-group-2 {width: 378px; margin-left: 16px}
.u-section-9 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-9 .u-text-2 {position: relative; margin-left: -16px}
.u-section-9 .u-btn-1 {margin-left: 16px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 1429px}
.u-section-9 .u-layout-wrap-1 {margin-top: 1px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 581px}
.u-section-9 .u-group-1 {width: 681px; min-height: 91px; margin-top: 75px; margin-left: auto}
.u-section-9 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-9 .u-text-1 {margin: 10px 13px}
.u-section-9 .u-group-2 {width: 678px; min-height: 167px; margin-top: 26px; margin-left: auto}
.u-section-9 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-9 .u-text-2 {margin-left: -13px}
.u-section-9 .u-btn-1 {margin-top: 28px; margin-left: auto; margin-bottom: 75px}
.u-section-9 .u-image-1 {min-height: 237px}
.u-section-9 .u-image-2 {min-height: 237px}
.u-section-9 .u-image-3 {min-height: 237px}
.u-section-9 .u-image-4 {min-height: 237px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 1903px}
.u-section-9 .u-group-1 {width: 284px; margin-left: 9px}
.u-section-9 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-9 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-9 .u-group-2 {width: 272px; margin-left: 9px}
.u-section-9 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-9 .u-text-2 {margin-left: -9px}
.u-section-9 .u-btn-1 {margin-left: 9px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 1802px}
.u-section-9 .u-group-1 {width: 238px; margin-left: 6px}
.u-section-9 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-9 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-9 .u-group-2 {width: 228px; margin-left: 6px}
.u-section-9 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-9 .u-text-2 {margin-left: -6px}
.u-section-9 .u-btn-1 {margin-left: 6px} }.u-section-10 {background-image: url("images/a0b37dfadc39617c1e52292bee2deb481.jpeg")}
.u-section-10 .u-sheet-1 {min-height: 661px}
.u-section-10 .u-group-1 {width: 457px; min-height: 526px; background-image: none; margin: 68px auto 68px 0}
.u-section-10 .u-container-layout-1 {padding-right: 0}
.u-section-10 .u-image-1 {width: 234px; height: 37px; margin: 40px auto 0 0}
.u-section-10 .u-text-1 {margin: 20px 20px 0 0}
.u-section-10 .u-text-2 {margin: 29px 20px 0 0}
.u-section-10 .u-btn-1 {border-style: solid; margin: 33px auto 40px 0} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 717px}
.u-section-10 .u-group-1 {width: 428px; min-height: 582px}
.u-section-10 .u-container-layout-1 {padding-left: 0}
.u-section-10 .u-image-1 {width: 235px; margin-left: 20px}
.u-section-10 .u-text-1 {position: relative; margin-right: 48px; margin-left: 20px}
.u-section-10 .u-text-2 {position: relative; margin-right: 48px; margin-left: 20px}
.u-section-10 .u-btn-1 {margin-left: 20px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 844px}
.u-section-10 .u-group-1 {width: 360px; min-height: 638px; margin-top: 103px; margin-bottom: 85px}
.u-section-10 .u-image-1 {width: 249px; height: 69px; margin-top: 59px}
.u-section-10 .u-text-1 {margin-top: 26px; margin-right: 5px}
.u-section-10 .u-text-2 {margin-top: 20px; margin-right: 6px}
.u-section-10 .u-btn-1 {margin-top: 20px; margin-bottom: 59px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 851px}
.u-section-10 .u-group-1 {width: 362px; min-height: 688px; margin-bottom: 0}
.u-section-10 .u-container-layout-1 {padding-left: 20px}
.u-section-10 .u-image-1 {width: 265px; height: 53px; margin-top: 63px; margin-left: 0}
.u-section-10 .u-text-1 {margin-right: 20px; margin-left: 0}
.u-section-10 .u-text-2 {margin-right: 20px; margin-left: 0}
.u-section-10 .u-btn-1 {margin-top: 36px; margin-bottom: 63px; margin-left: 0} }

@media (max-width: 575px){ .u-section-10 .u-group-1 {width: 227px}
.u-section-10 .u-image-1 {width: 116px}
.u-section-10 .u-text-1 {margin-right: 6px}
.u-section-10 .u-text-2 {margin-right: 6px} }