.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 849px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 849px; background-image: none}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-bottom: 7px}
.u-section-1 .u-text-1 {font-size: 5.875rem; margin: 214px 20px 0 0}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: -81px 76px 0 auto}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: -64px 152px 0 auto}
.u-section-1 .u-text-2 {font-size: 1.25rem; line-height: 1.4; margin: 47px 113px 0 0}
.u-section-1 .u-btn-1 {background-image: none; margin: 34px auto 0 0; padding: 12px 42px 13px}
.u-section-1 .u-layout-cell-2 {min-height: 849px}
.u-section-1 .u-container-layout-2 {padding-bottom: 0}
.u-section-1 .u-image-1 {width: 623px; height: 662px; margin: 121px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 295px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 624px}
.u-section-1 .u-text-1 {position: relative; margin-right: 0}
.u-section-1 .u-icon-1 {margin-right: 0}
.u-section-1 .u-icon-2 {margin-right: 64px}
.u-section-1 .u-text-2 {position: relative; margin-right: 13px}
.u-section-1 .u-layout-cell-2 {min-height: 624px; background-position: 50% 50%}
.u-section-1 .u-image-1 {width: 470px; height: 499px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 973px}
.u-section-1 .u-text-1 {font-size: 4.5rem}
.u-section-1 .u-icon-1 {margin-top: -9px; margin-right: auto; margin-left: 80px}
.u-section-1 .u-icon-2 {margin-right: auto; margin-left: 0}
.u-section-1 .u-text-2 {margin-top: 34px; margin-right: 0}
.u-section-1 .u-btn-1 {margin-top: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 973px}
.u-section-1 .u-image-1 {width: 360px; height: 382px} }

@media (max-width: 767px){ .u-section-1 .u-layout-cell-1 {min-height: 480px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 575px){ .u-section-1 .u-layout-cell-1 {min-height: 442px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-image-1 {width: 340px; height: 361px; margin-top: 37px; margin-left: -8px} }.u-section-2 {background-image: url("images/b78377f1a6f37f85fad6fcc6c47c62a8.jpeg")}
.u-section-2 .u-image-1 {min-height: 582px; background-image: url("images/0f7ff730bc4f5e4b364c809951061f01.png")}
.u-section-2 .u-image-2 {width: 272px; object-position: 100% 50%; background-position: 100% 50%; height: 562px; margin: 20px auto 0 257px}
.u-section-2 .u-group-1 {width: 441px; min-height: 462px; background-image: none; margin: -522px 100px 60px auto}
.u-section-2 .u-container-layout-1 {padding-right: 0}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 80px 20px 0 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; margin: 30px 20px 0 0}
.u-section-2 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; margin: 20px auto 0 20px} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {min-height: 538px}
.u-section-2 .u-image-2 {width: 203px; height: 427px; margin-top: 56px; margin-left: 158px}
.u-section-2 .u-group-1 {width: 364px; margin-top: -462px; margin-right: 123px; margin-bottom: 56px}
.u-section-2 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-btn-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 {background-position: 90.83% 50%}
.u-section-2 .u-image-1 {min-height: 604px}
.u-section-2 .u-image-2 {width: 169px; height: 349px; margin-top: 127px; margin-left: 13px}
.u-section-2 .u-group-1 {width: 313px; min-height: 474px; margin-top: -433px; margin-right: 133px; margin-bottom: 60px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-btn-1 {margin-left: 30px} }

@media (max-width: 767px){ .u-section-2 .u-image-1 {min-height: 804px}
.u-section-2 .u-image-2 {width: 190px; height: 393px; margin-top: 67px; margin-left: 9px}
.u-section-2 .u-group-1 {width: 279px; min-height: 445px; margin-top: -445px; margin-right: 62px}
.u-section-2 .u-container-layout-1 {padding-left: 30px}
.u-section-2 .u-text-1 {margin-top: 62px; margin-right: 9px; margin-left: 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin-top: 26px; margin-left: 0; margin-right: 0}
.u-section-2 .u-btn-1 {margin-top: 40px; margin-left: 15px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {min-height: 760px}
.u-section-2 .u-image-2 {width: 101px; height: 210px; margin-top: 52px; margin-left: 106px}
.u-section-2 .u-group-1 {width: 332px; min-height: 425px; margin: 70px auto 36px 0}
.u-section-2 .u-text-1 {margin-top: 45px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px; margin-bottom: 45px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 455px}
.u-section-3 .u-video-1 {height: 360px; width: 640px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); animation-duration: 1000ms; margin: 55px auto 40px} 

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 395px}
.u-section-3 .u-video-1 {height: 300px; margin-top: 60px; margin-bottom: 35px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 254px}
.u-section-3 .u-video-1 {height: 190px; margin-top: 32px; margin-bottom: 32px; width: auto; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 622px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {background-image: none; min-height: 652px}
.u-section-4 .u-group-1 {width: 479px; min-height: 83px; background-image: none; margin: 91px auto 0 0}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {font-size: 2.25rem; margin: 20px 0}
.u-section-4 .u-group-2 {width: 479px; min-height: 162px; margin: 20px auto 0 0}
.u-section-4 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-2 {font-size: 1.5rem; margin: 5px 0 0 -20px}
.u-section-4 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; width: 126px; height: 36px; margin: 20px auto 0 -20px}
.u-section-4 .u-layout-cell-2 {min-height: 652px}
.u-section-4 .u-image-1 {width: 278px; height: 577px; margin: 22px auto} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 397px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-group-1 {width: 395px; margin-top: 60px; margin-left: 16px}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-4 .u-group-2 {width: 378px; margin-left: 16px}
.u-section-4 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-2 {position: relative; margin-left: -16px}
.u-section-4 .u-layout-cell-2 {min-height: 326px; background-position: 50% 50%}
.u-section-4 .u-image-1 {width: 213px; height: 443px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 663px}
.u-section-4 .u-layout-wrap-1 {margin-top: 30px; margin-bottom: 9px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 654px}
.u-section-4 .u-group-1 {width: 687px; min-height: 77px; margin-top: 20px; margin-left: 13px}
.u-section-4 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-text-1 {margin-left: 13px; margin-right: 13px; margin-bottom: 0}
.u-section-4 .u-group-2 {width: 687px; min-height: 319px; margin-top: 29px; margin-left: 13px}
.u-section-4 .u-container-layout-3 {padding: 0 13px 30px 20px}
.u-section-4 .u-text-2 {margin-left: -13px}
.u-section-4 .u-btn-1 {margin-top: 9px; margin-right: 528px; margin-left: 0; padding: 9px 30px}
.u-section-4 .u-layout-cell-2 {min-height: 654px}
.u-section-4 .u-image-1 {margin-top: 181px; margin-right: 20px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-group-1 {width: 503px; min-height: 91px; margin-top: 55px; margin-left: auto}
.u-section-4 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-4 .u-group-2 {width: 503px; min-height: 131px; margin-top: 9px; margin-left: auto}
.u-section-4 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-2 {margin-top: 8px; margin-bottom: 8px; margin-left: 0}
.u-section-4 .u-btn-1 {margin-right: 377px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {margin-top: 5px; margin-bottom: 37px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 552px}
.u-section-4 .u-group-1 {width: 316px; min-height: 101px; margin-top: 63px}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-text-1 {font-size: 1.875rem; margin: 10px 6px}
.u-section-4 .u-group-2 {width: 316px; min-height: 216px; margin-top: 13px; margin-right: 11px}
.u-section-4 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-text-2 {margin-left: -6px}
.u-section-4 .u-btn-1 {margin-right: 178px}
.u-section-4 .u-image-1 {margin-top: 0; margin-right: auto; margin-left: 47px} }.u-section-5 {background-image: url("images/c118b060b12e2a92dd6a9f9ece5a4ab0.jpeg"); background-position: 50% 50%; min-height: 594px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 594px}
.u-section-5 .u-container-layout-1 {padding-bottom: 30px}
.u-section-5 .u-image-1 {width: 285px; height: 591px; margin: 0 auto -87px}
.u-section-5 .u-layout-cell-2 {min-height: 594px}
.u-section-5 .u-container-layout-2 {margin-bottom: 0; padding-bottom: 0}
.u-section-5 .u-group-1 {width: 424px; min-height: 412px; margin: 46px auto 0 38px}
.u-section-5 .u-text-1 {margin: 24px 20px 0 0}
.u-section-5 .u-text-2 {margin: 20px 20px 0 0}
.u-section-5 .u-btn-1 {text-transform: uppercase; font-weight: 700; border-style: solid; font-size: 0.625rem; width: 126px; height: 36px; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-5 {min-height: 620px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 620px; background-position: 78.68% 50%}
.u-section-5 .u-image-1 {margin-top: initial; margin-bottom: initial; height: auto}
.u-section-5 .u-layout-cell-2 {min-height: 620px}
.u-section-5 .u-group-1 {width: 350px; min-height: 440px; margin-left: 33px}
.u-section-5 .u-text-1 {position: relative}
.u-section-5 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-5 {min-height: 562px}
.u-section-5 .u-layout-wrap-1 {margin-bottom: 30px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 608px}
.u-section-5 .u-layout-cell-2 {min-height: 608px}
.u-section-5 .u-group-1 {width: 268px; margin-left: 24px}
.u-section-5 .u-text-1 {margin-right: 13px}
.u-section-5 .u-text-2 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-5 {min-height: 1148px}
.u-section-5 .u-layout-cell-1 {min-height: 590px; background-position: 56.74% 50%}
.u-section-5 .u-image-1 {height: 611px; margin-top: 0; margin-bottom: 0; left: auto; bottom: auto; right: auto; top: auto}
.u-section-5 .u-layout-cell-2 {min-height: 507px}
.u-section-5 .u-group-1 {width: 540px; min-height: 410px; margin-left: auto}
.u-section-5 .u-text-1 {margin-top: 38px; margin-left: 10px; margin-right: 10px}
.u-section-5 .u-text-2 {margin-left: 10px; margin-right: 10px}
.u-section-5 .u-btn-1 {margin-top: 24px; margin-left: 10px} }

@media (max-width: 575px){ .u-section-5 {min-height: 1135px}
.u-section-5 .u-layout-cell-1 {min-height: 579px}
.u-section-5 .u-image-1 {width: 274px; height: 587px; margin-right: 78px}
.u-section-5 .u-layout-cell-2 {min-height: 518px}
.u-section-5 .u-group-1 {width: 340px; min-height: 443px; margin-top: 37px}
.u-section-5 .u-text-1 {margin-top: 112px; margin-right: 6px; margin-left: 7px}
.u-section-5 .u-text-2 {margin-top: 19px; margin-left: 6px; margin-right: 6px} }