<div class="custom-alert">

</div>
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/urbanui/resources/js/off-canvas.js"></script>
<script src="/urbanui/resources/js/hoverable-collapse.js"></script>
<script src="/urbanui/resources/js/template.js"></script>
<script src="/urbanui/resources/js/settings.js"></script>
<script src="/urbanui/resources/js/todolist.js"></script>
<script src="/urbanui/resources/js/profile-settings.js"></script>

<script src="/urbanui/resources/js/tooltips.js"></script>
<script src="/urbanui/resources/js/popover.js"></script>
<!-- endinject -->

<script src="/urbanui/vendors/chart.js/Chart.min.js"></script>
<script src="/urbanui/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/urbanui/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
<script src="/urbanui/vendors/justgage/raphael-2.1.4.min.js"></script>
<script src="/urbanui/vendors/justgage/justgage.js"></script>

<script src="/urbanui/vendors/inputmask/jquery.inputmask.bundle.js"></script>
<script src="/urbanui/vendors/inputmask/inputmask.binding.js"></script>