<!--<footer class="footer">-->
<!--    <div class="footer-wrap">-->
<!--        <div style="text-align: center">-->
<!--            <a href="javascript:" style="padding: 0 1%">-->
<!--                <i class="ti-facebook"></i>-->
<!--            </a>-->
<!--            <a href="javascript:" style="padding: 0 1%">-->
<!--                <i class="ti-twitter-alt"></i>-->
<!--            </a>-->
<!--            <a href="javascript:" style="padding: 0 1%">-->
<!--                <i class="ti-instagram"></i>-->
<!--            </a>-->
<!--            <a href="javascript:" style="padding: 0 1%">-->
<!--                <i class="ti-linkedin"></i>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->