<div class="profile-sidebar" id="profile-sidebar">
    <i class="profile-settings-close mdi mdi-close"></i>
    <div class="profile-sidebar-header">
        <div class="text-center">
            <div>
                <div class="profile-sidebar-thumb">
                    <img src="/urbanui/resources/images/faces/face18.jpg" alt="profile">
                </div>
                <div class="profile-sidebar-info">
                    <h4 class="name">My Account</h4>
                    <h5 class="mb-0 designation">Sales Head</h5>
                </div>
            </div>
            <div class="profile-social-icons">
                <a href="#"><i class="mdi mdi-facebook-box"></i></a>
                <a href="#"><i class="mdi mdi-twitter-box"></i></a>
                <a href="#"><i class="mdi mdi-instagram"></i></a>
                <a href="#"><i class="mdi mdi-google-plus-box"></i></a>
            </div>
        </div>
    </div>
    <div class="profile-sidebar-body">
        <ul class="list-profile-items">
            <li class="profile-item">
                <a href="#" class="profile-sidebar-link">
                    <div class="d-flex align-items-center">
                        <i class="mdi mdi-account-outline text-primary"></i>
                        <div>
                            <h5 class="item-title">My Profile</h5>
                            <p class="item-detail">Account settings and more</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="profile-item">
                <a href="#" class="profile-sidebar-link">
                    <div class="d-flex align-items-center">
                        <i class="mdi mdi-email-outline text-info"></i>
                        <div>
                            <h5 class="item-title">My Messages</h5>
                            <p class="item-detail">Inbox and tasks</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="profile-item">
                <a href="#" class="profile-sidebar-link">
                    <div class="d-flex align-items-center">
                        <i class="mdi mdi-vector-polyline text-danger"></i>
                        <div>
                            <h5 class="item-title">My Activities</h5>
                            <p class="item-detail">Logs and notifications</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="profile-item">
                <a href="#" class="profile-sidebar-link">
                    <div class="d-flex align-items-center">
                        <i class="mdi mdi-timer-sand text-success"></i>
                        <div>
                            <h5 class="item-title">My Tasks</h5>
                            <p class="item-detail">latest tasks and projects</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="profile-item">
                <a href="#" class="profile-sidebar-link">
                    <div class="d-flex align-items-center">
                        <i class="mdi mdi-cash-100 text-warning"></i>
                        <div>
                            <h5 class="item-title">Billing</h5>
                            <p class="item-detail">billing & statements <span class="badge badge-danger ml-2">2 Pending</span></p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>