
<div class="custom-alert">

</div>


<!-- Plugin js for this page -->
<script src="/backend/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/backend/assets/vendors/nouislider/nouislider.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/backend/assets/js/shared/off-canvas.js"></script>
<script src="/backend/assets/js/shared/hoverable-collapse.js"></script>
<script src="/backend/assets/js/shared/misc.js"></script>
<script src="/backend/assets/js/shared/settings.js"></script>
<script src="/backend/assets/js/shared/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/backend/assets/js/demo_6/dashboard.js"></script>
<script src="/backend/assets/js/demo_6/script.js"></script>
<!-- End custom js for this page -->


