<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LedgerCover | <%= title %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/backend/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/backend/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/backend/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/backend/assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/backend/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/backend/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/backend/assets/vendors/nouislider/nouislider.min.css">
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/backend/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/backend/assets/css/demo_6/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/backend/favicon.png" />

    <link rel="stylesheet" href="/backend/css/custom-alert.css">
    <link rel="stylesheet" href="/backend/css/common.css">

    <!-- plugins:js -->
    <script src="/backend/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <script rel="stylesheet" src="/backend/js/custom-alert.js"></script>
</head>
