<!-- partial:partials/_content-aside-right.html -->
<div class="content-aside-right">
    <h4 class="card-title">Activity</h4>
    <ul class="activity-lists">
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face1.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Lucas Pacheco</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">30 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face2.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Miriam de Jesús</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">45 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face4.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Fukuyo Kazutoshi</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">53 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face5.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Huo Shu</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">24 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face6.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Stina Gunnarsdottir</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">26 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face7.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Labeeba Al Amer</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">24 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face8.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Emlen Beaver</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">19 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face9.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Cayla Brister</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">23 mins ago</p>
            </div>
        </li>
        <li class="activity-list">
            <img class="profile-image rounded-circle img-sm" src="../assets/images/faces/face10.jpg" alt="profile image">
            <div class="activity-content">
                <p class="profile-image-name">Chikanso Chima</p>
                <p class="activity-text">Nice work, good design!</p>
                <p class="activity-time">52 mins ago</p>
            </div>
        </li>
    </ul>
</div>
<!-- partial -->