.navbar {
    &.fixed-top {
        +.page-body-wrapper {
            padding-top: $navbar-height;
        }
    }
}



// Sidebar Icon Only
.sidebar-icon-only {
    @media (min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: $sidebar-width-icon;

                .brand-logo {
                    display: none;
                }

                .brand-logo-mini {
                    display: flex;
                }
            }

            .navbar-menu-wrapper {
                width: calc(100% - #{$sidebar-width-icon});
            }
        }

        .sidebar {
            width: $sidebar-width-icon;

            .nav {
                overflow: visible;

                .nav-item {
                    position: relative;
                    margin-left: 0;
                    border-radius: 0px;
                    overflow: visible;

                    .nav-link {
                        display: block;
                        text-align: center;
                        padding-left: 25px;
                        padding-right: 25px;

                        .badge,
                        .menu-title {
                            display: none;
                        }

                        i {
                            &.menu-icon {
                                margin-right: 0;
                            }

                            &.menu-arrow {
                                display: none;
                            }
                        }
                    }

                    .collapse {
                        display: none;
                    }

                    &.hover-open {
                        .nav-link {
                            .menu-title {
                                display: flex;
                                align-items: center;
                                background: $sidebar-light-menu-hover-bg;
                                color: $sidebar-light-menu-color;

                                padding: 0.5rem 1.25rem;
                                left: $sidebar-width-icon;
                                position: absolute;
                                text-align: left;
                                top: 0;
                                width: $sidebar-icon-only-submenu-width;
                                z-index: 1;
                                height: $nav-link-height;
                                line-height: 1.8;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;

                                @at-root #{selector-append(".rtl", &)} {
                                    left: auto;
                                    right: $sidebar-width-icon;
                                    text-align: right;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    border-top-left-radius: 5px;
                                    border-bottom-left-radius: 5px;
                                }

                                &:after {
                                    display: none;
                                }
                            }

                            &[data-toggle=collapse] {
                                .menu-title {
                                    border-bottom-right-radius: 0;

                                    @at-root #{selector-append(".rtl", &)} {
                                        border-bottom-left-radius: 0;
                                    }
                                }
                            }
                        }

                        .collapse,
                        .collapsing {
                            display: block;
                            padding: 0.5rem 0;
                            background: $sidebar-light-menu-hover-bg;
                            color: $sidebar-light-menu-color;

                            position: absolute;
                            top: $nav-link-height;
                            left: $sidebar-width-icon;
                            width: $sidebar-icon-only-submenu-width;
                            border-bottom-right-radius: 5px;

                            @at-root #{selector-append(".rtl", &)} {
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 5px;
                            }

                            @at-root #{selector-append(".rtl", &)} {
                                left: auto;
                                right: $sidebar-width-icon;
                            }

                            box-shadow:6px 11px 15px 1px rgba(0, 0, 0, 0.09);
                        }
                    }
                }

                &.sub-menu {
                    padding: $sidebar-icon-only-submenu-padding;

                    .nav-item {
                        .nav-link {
                            text-align: left;
                            color: $sidebar-light-menu-color;

                            &:hover {
                                color: darken($white, 20%);
                            }

                            @at-root #{selector-append(".rtl", &)} {
                                text-align: right;
                            }
                        }

                        &:nth-child(5n+1),
                        &:nth-child(5n+2),
                        &:nth-child(5n+3),
                        &:nth-child(5n+4),
                        &:nth-child(5n+5) {
                            .nav-link {
                                &:before {
                                    background: $white;
                                }
                            }
                        }
                    }
                }

                &.nav-toolbar {
                    display: none;
                }
            }
        }

        .main-panel {
            width: calc(100% - #{$sidebar-width-icon});
        }
    }
}