<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<style>
    .content-wrapper {
        margin-top: 0;
    }
</style>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100" style="margin-left: 0; margin-right: 0;">
                <div class="col-lg-4 mx-auto">
                    <div style="text-align: center; padding-bottom: 20px;">
                        <a href="/" class="brand-logo-mini">
                            <img src="/logo.png" alt="logo" style="max-height: 100px;">
                        </a>
                    </div>
                    <div class="auto-form-wrapper">
                        <form action="#" id="login_form">
                            <div class="form-group">
                                <label class="label">Username</label>
                                <div class="input-group">
                                    <input type="email" id="email" class="form-control" placeholder="User email" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Password</label>
                                <div class="input-group">
                                    <input type="password" id="password" class="form-control" placeholder="*********" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">Login</button>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                                </div>
                                <a href="/forgot-password" class="text-small forgot-password text-black">Forgot Password</a>
                            </div>

                            <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold">Not a member ?</span>
                                <a href="/register" class="text-black text-small">Create new account</a>
                            </div>
                        </form>
                    </div>
                    <ul class="auth-footer">
                        <li>
                            <a href="#">Conditions</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                    </ul>
                    <p class="footer-text text-center">copyright © <%= new Date().getFullYear() %> LedgerCover. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<%- include('../partials/foot.ejs') %>
<!-- endinject -->
<script>
    $('#login_form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/post-login',
            method: 'post',
            data: {
                email: $('#email').val(),
                password: $('#password').val(),
            },
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.href = '/user/my-account';
                    }, 2500)
                } else customAlert(res.message);
            }
        })
    })
</script>
</body>
</html>