$primary-color: #35017a;
$secondary-color:#492EA4;
$content-warpper-padding: 42px 30px;
$content-bg: $primary-color;
$border-color: #dadfea;
$border-color-light: #f8f8f8;
$border-color-primary: $secondary-color;

$brand-wrapper-width: 200px;
$brand-wrapper-width-mobile: 35px;
$navbar-bg: $content-bg;
$navbar-link-color: #e3e8e8;

$main-container-padding: 100px 0 50px 0;
$footer-bg: $content-bg;
$footer-color: #664eeb;
$footer-height: 60px;